{%- liquid
  assign th_st = settings
  assign product_style = th_st.product_style
  assign container = th_st.general_layout
  assign custom_container = th_st.custom_width_bd
  assign container_width = ''
  if container == 'default'
    assign container_width = '1260'
  elsif container == custom_width
    assign container_width = custom_container
  endif
  assign enable_sidebar = enable_sidebar
  assign sidebar_ps = sidebar_ps
  assign show_count = st.show_count
  assign swatch_size = st.swatch_size
  assign swatch_style = st.swatch_style
  assign color_swatches_size = th_st.color_swatches_size
  assign color_swatches_style = th_st.color_swatches_style

  assign sidebar_canvas = ''
  if sidebar_ps == 'filter_canvas'
    assign sidebar_canvas = 'bls__canvas bls__canvas-left h-full'
  endif

  assign colorOptions = st.variant_color | downcase | replace: ', ', ',' | replace: ' , ', ',' | replace: ' ,', ',' | split: ','
  assign sizeOptions = st.variant_size | downcase | replace: ', ', ',' | replace: ' , ', ',' | replace: ' ,', ',' | split: ','
  if current_tags != blank
    assign all_tags_downcase = collection.tags | json | downcase
    assign current_arr = ''
    assign new_current_arr = ''
    for tag in current_tags
      assign newtag = tag | handleize | prepend: '_'
      assign current_arr = current_arr | append: tag | append: ',' | downcase
      assign new_current_arr = new_current_arr | append: newtag | append: ',' | downcase
    endfor
    assign new_current_tags = new_current_arr | split: ','
    assign current_tags = current_arr | split: ','
  else
    for tag in collection.all_tags
      assign new_tag = tag | handleize | json | downcase
      assign all_tags_downcase = all_tags_downcase | append: new_tag
    endfor
  endif
-%}

<div id="CollectionSidebar" class="{{ sidebar_ps }}">
  <div class="collection-sidebar bls__canvas-mb bls__canvas-mb-left {{ sidebar_canvas }}">
    <div class="sidebar-header">
      <h3>{{ 'collections.toolbar.filter' | t }}</h3>
      <button class="sidebar-close"><i class="icon-x"></i></button>
    </div>
    {%- if enable_sidebar -%}
      {%- if sidebar_ps == 'left_sidebar' and sidebar_ps == 'right_sidebar' -%}
        {%- render 'filter-current' -%}
      {%- endif -%}
    {%- endif -%}
    {%- for block in section.blocks -%}
      {%- if block.type != 'image_banner' -%}
        {%- case block.type -%}
          {%- when 'categories' -%}
            <div class="filter-item">
              <h4 class="filter-title fs-18 mb-20">
                {{ block.settings.title | escape }}
                <div class="open-children-toggle active"></div>
              </h4>
              <div class="filter-content">
                {%- if linklists[block.settings.menu].links.size > 0 -%}
                  <ul class="items list-none p-0 m-0">
                    {%- render 'menu-links', handle_menu: block.settings.menu -%}
                  </ul>
                {%- endif -%}
              </div>
            </div>
          {%- when 'filter_by_tags' -%}
            <div class="filter-item filter-tag">
              <h4 class="filter-title fs-18 mb-20">
                {{ block.settings.title | escape }}
                <div class="open-children-toggle active"></div>
              </h4>
              <div class="filter-content">
                {%- liquid
                  assign tags_list = block.settings.tag | strip_newlines | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq
                  assign has_tags = false
                  assign all_tags_downcase = all_tags_downcase | replace: ' ', '-' | replace: '.', '-'

                  for tag in tags_list
                    assign tag_json = tag | downcase | handleize | json
                    assign tag_handle = tag | handleize | downcase | prepend: '_'
                    if all_tags_downcase contains tag_json or new_current_tags contains tag_handle
                      assign has_tags = true
                    endif
                  endfor
                  assign iscolor = false
                  assign isSize = false
                  assign fname = block.settings.title | downcase
                  assign attribute = ''
                  if colorOptions contains fname
                    assign iscolor = true
                    assign attribute = ' color'
                  endif
                  if sizeOptions contains fname
                    assign isSize = true
                    assign attribute = ' size'
                  endif
                -%}

                {% if tags_list.size > 0 and has_tags %}
                  {% if iscolor or isSize %}
                    <div class="swatch-attribute{{ attribute }}">
                      <ul class="items list-none p-0 m-0">
                        {% for tag in tags_list %}
                          {% liquid
                            assign tag_json = tag | downcase | handleize | json
                            assign tag_handle = tag | handleize | downcase | prepend: '_'
                            assign tag_downcase = tag | handleize | downcase
                            assign tag_down = tag | downcase
                          %}
                          {% if all_tags_downcase contains tag_json or new_current_tags contains tag_handle %}
                            <li class="item mb-10 last-0">
                              {% capture tag_link %}
                                {% if new_current_tags contains tag_handle %}
                                  {{ tag | link_to_remove_tag: tag_down }}
                                {% else %}
                                  {{ tag | link_to_add_tag: tag_down }}
                                {% endif %}
                              {% endcapture %}
                              {% assign tag_link_parts = tag_link | remove_first: '<a href="' | split: '" title="' %}
                              {% assign tag_link = tag_link_parts[0] | strip %}
                              <a href="{{ tag_link }}" class="bls__link-filter">
                                <div class="swatch-option{{ attribute }}{% if new_current_tags contains tag_handle %} current-filter{% endif %}">
                                  {% if iscolor %}
                                    <span
                                      class="bls__{{ tag | handleize }} clrbox"
                                      style="background-color:{{ tag | downcase }};"
                                    ></span>
                                  {% else %}
                                    {{ tag | escape }}
                                  {% endif %}
                                  <span class="bls_tooltip-content">{{ tag }}</span>
                                </div>
                              </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  {% else %}
                    <ul class="items list-none p-0 m-0">
                      {% for tag in tags_list %}
                        {% liquid
                          assign tag_json = tag | downcase | handleize | json
                          assign tag_handle = tag | handleize | downcase | prepend: '_'
                          assign tag_downcase = tag | handleize | downcase
                          assign tag_down = tag | downcase
                        %}
                        {% if all_tags_downcase contains tag_json or new_current_tags contains tag_handle %}
                          <li class="item mb-10 last-0">
                            {% capture tag_link %}
                              {% if new_current_tags contains tag_handle %}
                                {{ tag | link_to_remove_tag: tag_down }}
                              {% else %}
                                {{ tag | link_to_add_tag: tag_down }}
                              {% endif %}
                            {% endcapture %}
                            {% assign tag_link_parts = tag_link | remove_first: '<a href="' | split: '" title="' %}
                            {% assign tag_link = tag_link_parts[0] | strip %}
                            <a href="{{ tag_link }}" class="bls__link-filter">
                              <span
                                class="checkbox{% if new_current_tags contains tag_handle %} checked{% endif %}"
                              ></span>
                              {{ tag | escape }}
                              <span class="bls_tooltip-content visually-hidden">{{ tag }}</span>
                            </a>
                          </li>
                        {% endif %}
                      {%- endfor -%}
                    </ul>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {%- when 'filter_by_dynamic' -%}
            {%- assign filters = collection.filters -%}
            {%- assign total_active_values = 0 -%}
            {%- for filter in filters -%}
              {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
              <div class="filter-item">
                <h4 class="filter-title fs-18 mb-20">
                  {{ filter.label | escape }}
                  <div class="open-children-toggle active"></div>
                </h4>
                <div class="filter-content">
                  {% case filter.type %}
                    {% when 'list' %}
                      {%- liquid
                        assign iscolor = false
                        assign isSize = false
                        assign fname = filter.label | downcase
                        assign attribute = ''
                        if colorOptions contains fname
                          assign iscolor = true
                          assign attribute = ' color'
                        endif
                        if sizeOptions contains fname
                          assign isSize = true
                          assign attribute = ' size'
                        endif
                      -%}
                      {% if iscolor or isSize %}
                        <div class="swatch-attribute{{ attribute }}">
                          <ul class="items list-none p-0 m-0">
                            {%- for value in filter.values -%}
                              <li class="item mb-10 last-0">
                                <a
                                  href="{% if value.active %}{{value.url_to_remove}}{% else %}{{value.url_to_add}}{% endif %}"
                                  class="bls__link-filter{% if value.count == 0 and value.active == false %} disabled{% endif %}"
                                >
                                  <div class="bls_tooltip swatch-option{{ attribute }}{% if value.active %} current-filter{% endif %}">
                                    {% if iscolor %}
                                      <span
                                        class="bls__product-color-swatches {{ color_swatches_style }} {{ color_swatches_size }} bls__{{ value.value | handleize }} clrbox"
                                        data-color="{{ value.label | downcase }}"
                                        data-image=""
                                        style="background-color:{{ value.value | downcase }};"
                                      ></span>
                                    {% else %}
                                      {{ value.label | escape }}
                                    {% endif %}
                                    <span class="bls_tooltip-content ">{{ value.value }}</span>
                                  </div>
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      {% else %}
                        <ul class="items list-none p-0 m-0">
                          {%- for value in filter.values -%}
                            <li class="item mb-10 last-0{% if value.count == 0 and value.active == false %} disabled{% endif %}{% if value.active %} current-filter{% endif %}">
                              <a
                                href="{% if value.active %}{{value.url_to_remove}}{% else %}{{value.url_to_add}}{% endif %}"
                                class="bls__link-filter"
                              >
                                <span class="checkbox{% if value.active %} checked{% endif %}"></span>
                                {{ value.label | escape }}
                                {%- if show_count -%}
                                  <span class="count">({{ value.count }})</span>
                                {%- endif -%}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {% endif %}
                    {% when 'price_range' %}
                      <form id="CollectionFiltersForm" class="filter-form">
                        {% liquid
                          assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                          assign uses_comma_decimals = false
                          if currencies_using_comma_decimals contains cart.currency.iso_code
                            assign uses_comma_decimals = true
                          endif
                        %}
                        <div class="filter-price">
                          <price-range class="price-range">
                            <div class="field">
                              <input
                                class="min-price-range"
                                name="{{ filter.min_value.param_name }}"
                                type="number"
                                placeholder="0"
                                min="0"
                                {%- if filter.min_value.value -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                                    {%- assign minPrice = filter.min_value.value
                                      | money_without_currency
                                      | replace: ',', ''
                                      | round
                                    -%}
                                  {%- else -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                                    {%- assign minPrice = filter.min_value.value
                                      | money_without_currency
                                      | replace: ',', ''
                                      | round
                                    -%}
                                  {% endif %}
                                {%- else -%}
                                  {%- assign minPrice = 0 -%}
                                {%- endif -%}
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              >
                            </div>
                            <span>
                              <svg
                                width="10"
                                height="2"
                                viewBox="0 0 10 2"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path d="M10 0.5L10 1.5L-4.37114e-08 1.5L0 0.5L10 0.5Z" fill="#999999"/>
                              </svg>
                            </span>
                            <div class="field">
                              <input
                                class="max-price-range"
                                name="{{ filter.max_value.param_name }}"
                                type="number"
                                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' | replace: '.00', '' }}"
                                min="0"
                                {%- if filter.max_value.value -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | round }}"
                                    {%- assign maxPrice = filter.max_value.value
                                      | money_without_currency
                                      | replace: ',', '.'
                                      | round
                                    -%}
                                  {%- else -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: ',', ''| replace: '.00', '' }}"
                                    {%- assign maxPrice = filter.max_value.value
                                      | money_without_currency
                                      | replace: ',', ''
                                      | round
                                    -%}
                                  {% endif %}
                                {%- else -%}
                                  {%- assign maxPrice = filter.range_max
                                    | money_without_currency
                                    | replace: ',', ''
                                    | round
                                  -%}
                                  value="{{ maxPrice }}"
                                {%- endif -%}
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                              >
                            </div>
                          </price-range>
                        </div>
                        {% liquid
                          assign minPrice = minPrice | times: 1
                          assign maxPrice = maxPrice | times: 1
                          assign range_max = filter.range_max | money_without_currency | replace: ',', ''
                          assign from = minPrice | times: 100 | divided_by: range_max | round: 2
                          assign to = maxPrice | times: 100 | divided_by: range_max | round: 2
                        -%}
                        <div class="price-range" style="--range-from: {{ from }}%; --range-to: {{ to }}%">
                          <input
                            type="range"
                            class="range-slider range-slider-min"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                            value="{{ minPrice }}"
                          >
                          <input
                            type="range"
                            class="range-slider range-slider-max"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                            value="{{ maxPrice }}"
                          >
                        </div>
                        <div class="price-lable">
                          <div class="label">{{ filter.label | escape }}:</div>
                          <div class="price">
                            <span class="min">
                              {% if settings.currency_code_enabled %}
                                {{ 0 | money_with_currency }}
                              {% else %}
                                {{ 0 | money }}
                              {% endif %}
                            </span>
                            -
                            <span class="max">
                              {% if settings.currency_code_enabled %}
                                {{ filter.range_max | money_with_currency }}
                              {% else %}
                                {{ filter.range_max | money }}
                              {% endif %}
                            </span>
                          </div>
                        </div>
                      </form>
                  {% endcase %}
                </div>
              </div>
            {%- endfor -%}
          {%- when 'popular_product' -%}
            <div class="filter-item">
              <h4 class="filter-title fs-18 mb-20">
                {{ block.settings.title | escape }}
                <div class="open-children-toggle active"></div>
              </h4>
              <div class="filter-content">
                {%- assign type_product = block.settings.type_product -%}
                {%- assign collection = collections[block.settings.collection] -%}
                {%- if type_product == 'grid' -%}
                  <div
                    class="swiper bls__swiper hover__show-nav bls__grid {{ product_style }}"
                    id="bls__swiper-{{ section.id }}"
                    data-section-id="{{ section.id }}"
                    data-mobile="1"
                    data-tablet="1"
                    data-desktop="1"
                    data-autoplay="false"
                    data-loop="false"
                    data-spacing="0"
                  >
                    <div class="swiper-wrapper">
                      {%- if collection.products.size == 0 -%}
                        {%- for i in (1..block.settings.maximum) -%}
                          <div class="swiper-slide">
                            {%- render 'responsive-image' | type: 'product' | cls: 'bls__product-tab-plh' -%}
                            <div class="bls__product-details">
                              <a role="link" aria-disabled="true">{{ 'products.product.product_placeholder' | t }}</a>
                              <div>{%- render 'price' -%}</div>
                            </div>
                          </div>
                        {%- endfor -%}
                      {%- else -%}
                        {%- for product in collection.products limit: block.settings.maximum -%}
                          <div class="swiper-slide">
                            {%- render 'product-item' | product: product -%}
                          </div>
                        {%- endfor -%}
                      {%- endif -%}
                    </div>
                    {%- render 'swiper-control', show_bullet: false, show_arrow: true -%}
                  </div>
                {%- else -%}
                  <div class="list list-view-items">
                    {%- if collection.products.size == 0 -%}
                      {%- for i in (1..3) -%}
                        <div class="bls__product-item list-view-item plh-product flex flex-nowrap mb-15 pb-15 border-bottom">
                          {%- render 'responsive-image' | type: 'product' | cls: 'overflow-hidden relative col-3 mr-15 border mw-100 bls__product-tab-plh' -%}
                          <div class="bls__product-details flex-1">
                            <a role="link" aria-disabled="true">{{ 'products.product.product_placeholder' | t }}</a>
                            <div>{%- render 'price' -%}</div>
                          </div>
                        </div>
                      {%- endfor -%}
                    {%- else -%}
                      {%- for product in collection.products limit: 3 -%}
                        {%- render 'product-popular-list-item' | product: product -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
        {%- endcase -%}
      {%- elsif block.type == 'image_banner' -%}
        {%- liquid
          assign featured_image = block.settings.image
          assign url = block.settings.url
          assign open_link = block.settings.open_link
          if featured_image
            assign ratio = featured_image.aspect_ratio
          else
            assign ratio = '1/1'
          endif
        -%}
        <div class="filter-item banner">
          <div class="filter-content filter-banner">
            <a
              href="{% if url == blank %}#{% else %}{{ url }}{% endif %}"
              class="banner-link"
              {%- if open_link != blank -%}
                target="_blank"
              {%- endif -%}
            >
              <div
                class="image bls__responsive-image bls-image-js {% if featured_image != blank %}bls-loading-image{% endif %}"
                style="--aspect-ratio: {{ ratio }}"
              >
                {%- if featured_image != blank -%}
                  <img
                    srcset="
                      {%- if featured_image.width >= 165 -%}{{ featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if featured_image.width >= 330 -%}{{ featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                      {%- if featured_image.width >= 535 -%}{{ featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                      {%- if featured_image.width >= 750 -%}{{ featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if featured_image.width >= 1000 -%}{{ featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                      {%- if featured_image.width >= 1500 -%}{{ featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if featured_image.width >= 3000 -%}{{ featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {{ featured_image | image_url }} {{ featured_image.width }}w
                    "
                    src="{{ featured_image | image_url: width: 1500 }}"
                    sizes="
                      (min-width: {{ container_width }}px) {{ container_width | minus: 130 | divided_by: 4 }}px,
                      (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                      calc(100vw - 3rem)
                    "
                    alt="{{ featured_image.alt }}"
                    height="{{ featured_image.height }}"
                    width="{{ featured_image.width }}"
                    loading="lazy"
                  >
                {%- else -%}
                  {%- render 'placeholder-render' | type: 'image' | cls: 'bls__collection-grid-plh' -%}
                {%- endif -%}
              </div>
            </a>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
