{%- for link in linklists[handle_menu].links -%}
  <li class="relative level-1">
    {%- liquid
      assign label1 = link.title | split: '[label' | last | split: ']' | first | prepend: 'label'
      assign label_bg1 = label1 | split: 'label' | last | prepend: 'label_color_'
    -%}
    <a href="{{ link.url }}" class="site-nav level-1">
      <span>{{ link.title | split: '[label' | first }}</span>
      {%- if link.title contains '[label' -%}
        <span
          class="px-6 d-inline-block label {{ label1 }}"
          style="--navigation-bg-label:{{ section.settings[label_bg1] }};"
        >
          {{ section.settings[label1] }}
        </span>
      {%- endif -%}
      {%- if link.links != blank -%}
        <i class="absolute position-center-y right-15 ad icon-chevron-right" aria-hidden="true"></i>
      {%- endif -%}
    </a>
    {%- if link.links != blank -%}
      <div class="open-children-toggle"></div>
      <ul class="subchildmenu subLinks p-0 list-none my-0 absolute top-0 left-100">
        {%- for childlink in link.links -%}
          <li class="level-2 relative">
            {%- liquid
              assign label2 = childlink.title | split: '[label' | last | split: ']' | first | prepend: 'label'
              assign label_bg2 = label2 | split: 'label' | last | prepend: 'label_color_'
            -%}
            <a href="{{ childlink.url }}" class="site-nav level-2">
              <span>{{ childlink.title | split: '[label' | first }}</span>
              {%- if childlink.title contains '[label' -%}
                <span
                  class="px-6 d-inline-block label {{ label2 }}"
                  style="--navigation-bg-label:{{ section.settings[label_bg2] }};"
                >
                  {{ section.settings[label2] }}
                </span>
              {%- endif -%}
              {%- if childlink.links != blank -%}
                <i class="absolute position-center-y right-15 ad icon-chevron-right" aria-hidden="true"></i>
              {%- endif -%}
            </a>
            {%- if childlink.links != blank -%}
              <div class="open-children-toggle"></div>
              <ul class="subchildmenu subLinks p-0 list-none my-0 left-100 absolute top-0 ">
                {%- for lvl3link in childlink.links -%}
                  <li class="relative level-3">
                    {%- liquid
                      assign label3 = lvl3link.title | split: '[label' | last | split: ']' | first | prepend: 'label'
                      assign label_bg3 = label3 | split: 'label' | last | prepend: 'label_color_'
                    -%}
                    <a href="{{ lvl3link.url }}" class="site-nav level-3">
                      <span>{{ lvl3link.title | split: '[label' | first }}</span>
                      {%- if lvl3link.title contains '[label' -%}
                        <span
                          class="px-6 d-inline-block label {{ label3 }}"
                          style="--navigation-bg-label:{{ section.settings[label_bg3] }};"
                        >
                          {{ section.settings[label3] }}
                        </span>
                      {%- endif -%}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </li>
{%- endfor -%}
