{%- liquid
  assign st = settings
  assign show_review = st.show_review
  assign enable_hover_image = st.enable_hover_image
-%}
<div class="bls__product-item list-view-item flex flex-nowrap mb-15 pb-15">
  <div class="bls__product-img overflow-hidden relative col-3 mr-15 mw-100">
    {%- assign img = product.media -%}
    {%- if enable_hover_image -%}
      <a class="bls__hover-image" href="{{ product.url | within: collection }}">
        <div class="bls__product-main-img">
          {%- if img[0] != blank -%}
            {%- render 'responsive-image' | image: img[0] | type: 'product' | cls: 'bls__product-grid bls__product-img-sw' -%}
          {%- else -%}
            {%- render 'placeholder-render' | type: 'product' | cls: 'bls__product-grid-plh' -%}
          {%- endif -%}
        </div>
        {%- if img[1] != blank -%}
          <div class="bls__product-hover-img opacity-0 absolute inset-0">
            {%- render 'responsive-image' | image: img[1] | type: 'product' | cls: 'bls__product-grid' -%}
          </div>
        {%- endif -%}
      </a>
    {%- else -%}
      <a href="{{ product.url | within: collection }}">
        <div class="bls__product-image">
          {%- if product.featured_image != blank -%}
            {%- render 'responsive-image' | image: product.featured_image | type: 'product' | cls: 'bls__product-grid bls__product-img-sw' -%}
          {%- else -%}
            {%- render 'placeholder-render' | type: 'product' | cls: 'bls__product-grid-plh' -%}
          {%- endif -%}
        </div>
      </a>
    {%- endif -%}
  </div>
  <div class="bls__product-details flex-1">
    <h3 class="bls__product-name regular mb-0">
      <a href="{{ product.url | within: collection }}">
        {{ product.title }}
      </a>
    </h3>
    {%- if show_review -%}
      <span class="shopify-product-reviews-badge mb-7" data-id="{{ product.id }}"></span>
    {%- endif -%}
    <div class="bls__product-price mb-7 mt-5">
      {%- render 'price', product: product, use_variant: true, price_class: 'price--large' -%}
    </div>
  </div>
</div>
