<div
  id="bls__sticky-addcart"
  class="bls__sticky-addcart{% if st.sticky_mode == '1' %} only-show-desktop d-none d-lg-block{% endif %} bg-white z-4 fixed inset-x-0 bottom-0 py-15 box-shadow-top"
>
  <div class="sticky-addcart flex justify-content-center justify-content-between-lg align-items-center container">
    <div class="sticky-addcart-product flex-nowrap d-none d-lg-flex align-items-center d-none d-lg-block">
      {%- liquid
        assign image = current_variant.featured_image | default: product.featured_image
      -%}
      <div class="sticky-addcart-img mr-15 width-60">
        {%- render 'responsive-image' | image: image | type: 'product' | cls: 'bls__product-grid bls__product-img-sw' -%}
      </div>
      <div class="sticky-addcart-infos">
        <div class="heading-color heading-weight">{{ product.title }}</div>
        <div class="price heading-weight fs-14 mt-5">
          {%- render 'price', product: product, use_variant: true, price_class: 'price--large' -%}
        </div>
      </div>
    </div>
    <div class="sticky-addcart-product-form">
      <product-form class="product-form flex flex-nowrap">
        {%- assign product_form_id = 'sticky-addcart-form-' | append: section.id -%}
        {%- form 'product',
          product,
          id: product_form_id,
          class: 'form flex flex-nowrap',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          {%- if product.variants.size > 1 -%}
            <select name="id" class="sticky-addcart-opstion mr-10 mr-lg-20">
              {% for variant in product.variants %}
                {% assign selected = false %}
                {%- if variant.id == product.selected_or_first_available_variant.id -%}
                  {% assign selected = true %}
                {%- endif -%}
                <option
                  value="{{ variant.id }}"
                  {% if selected %}
                    selected="true"
                  {% endif %}
                >
                  {{ variant.title }} -
                  {% if settings.currency_code_enabled %}
                    {{ variant.price | money_with_currency }}
                  {% else %}
                    {{ variant.price | money }}
                  {% endif %}
                </option>
              {% endfor %}
            </select>
          {%- else -%}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}"
              disabled
            >
          {%- endif -%}

          <div class="product-form__buttons flex flex-nowrap">
            <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
              <label class="form__label visually-hidden" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <quantity-input class="quantity rounded-5 border bg-grey flex align-items-center text-center mr-10 mr-lg-20 px-8">
                <button
                  class="btn-reset flex justify-content-center align-items-center quantity__button no-js-hidden width-35"
                  name="minus"
                  type="button"
                >
                  <svg
                    width="11"
                    height="12"
                    viewBox="0 0 11 2"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M11 0.5L11 1.5L-4.37114e-08 1.5L0 0.5L11 0.5Z" fill="#111111"/>
                  </svg>
                </button>
                <input
                  class="quantity__input bg-unset border-none text-center width-50 appearance-none p-0-important"
                  type="number"
                  name="quantity"
                  id="Quantity-{{ section.id }}"
                  min="1"
                  value="1"
                  form="{{ product_form_id }}"
                >
                <button
                  class="btn-reset flex justify-content-center align-items-center quantity__button no-js-hidden width-35"
                  name="plus"
                  type="button"
                >
                  <svg
                    width="11"
                    height="12"
                    viewBox="0 0 11 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5 11.5H6L6 6.5H11V5.5H6L6 0.5H5L5 5.5H0V6.5H5L5 11.5Z" fill="#111111"/>
                  </svg>
                </button>
              </quantity-input>
            </div>
            <button
              type="submit"
              name="add"
              class="product-form__submit animation relative"
              {% if product.selected_or_first_available_variant.available == false %}
                disabled
              {% endif %}
            >
              <span>
                {%- if product.selected_or_first_available_variant.available -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- else -%}
                  {{ 'products.product.sold_out' | t }}
                {%- endif -%}
              </span>
              <span class="loader-icon"></span>
            </button>
          </div>
        {%- endform -%}
      </product-form>
    </div>
  </div>
</div>
