<ul class="bls__social-link m-0 pl-0 list-none flex">
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link lh-1 bls_tooltip px-6" aria-label="links">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M20.6699 10.1753C20.1855 10.4746 19.656 10.6861 19.1039 10.801C18.6347 10.2878 17.9839 9.99819 17.3039 10.0001C15.9645 9.98959 14.8669 11.1062 14.8439 12.5028C14.8445 12.6967 14.8666 12.8899 14.9099 13.0785C12.9372 12.9814 11.0949 12.023 9.83392 10.4381C9.61823 10.8171 9.50232 11.2488 9.49794 11.6895C9.49799 12.5392 9.91147 13.3309 10.596 13.7918C10.2051 13.7786 9.82268 13.6692 9.47994 13.4727C9.47994 13.4727 9.47994 13.4727 9.47994 13.504C9.47602 14.7244 10.3048 15.7753 11.454 16.0068C11.0917 16.1075 10.7124 16.1224 10.344 16.0506C10.6753 17.0844 11.5968 17.787 12.642 17.8026C11.7719 18.5081 10.7021 18.8932 9.59998 18.8975C9.39945 18.8973 9.19908 18.8848 9 18.86C10.1291 19.6048 11.4379 19.9998 12.774 19.9988C16.5841 20.0714 19.7292 16.9092 19.7989 12.9359C19.7996 12.8938 19.8 12.8517 19.8 12.8095C19.8 12.701 19.8 12.5926 19.8 12.4841C20.2702 12.1247 20.6764 11.6821 21 11.1764C20.5496 11.3821 20.0724 11.517 19.584 11.5769C20.0976 11.2633 20.4838 10.7649 20.6699 10.1753Z" fill="#555555"/>
        </svg>
        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link lh-1 bls_tooltip px-6" aria-label="links">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M13.3334 11.6667V13H12V15H13.3334V21H16V15H17.7734L18 13H16V11.8334C16 11.2934 16.0533 11.0067 16.8866 11.0067H18V9H16.2134C14.08 9.00006 13.3334 10 13.3334 11.6667Z" fill="#555555"/>
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link lh-1 bls_tooltip px-6" aria-label="links">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M14.8517 9.00102L14.0501 9.09674C13.5464 9.18721 13.0577 9.34214 12.5972 9.55732C11.5464 10.0853 10.7207 10.946 10.2613 11.9918C10.1994 12.1879 10.1513 12.3877 10.1173 12.5899C9.7663 13.7809 10.2194 15.0554 11.2571 15.796C11.4136 15.8857 11.7768 16.0533 11.8833 15.8319C11.9323 15.6962 11.966 15.5558 11.9835 15.4132C12.0439 15.2934 12.078 15.1632 12.0837 15.0304C12.0461 14.833 11.8269 14.7134 11.733 14.5519C11.5786 14.2263 11.4813 13.8787 11.4449 13.523V13.3495C11.4914 11.881 12.5697 10.6275 14.0689 10.299C14.5379 10.1779 15.0268 10.1434 15.5093 10.1973L16.2044 10.3109C16.9989 10.5091 17.6558 11.0418 17.9892 11.7585C18.2078 12.3726 18.2511 13.0312 18.1145 13.6666C18.0456 13.9417 18.0581 14.181 17.9704 14.4322C17.651 15.3594 17.1814 16.2267 16.123 16.454C15.5474 16.5977 14.9496 16.3109 14.7265 15.7841C14.6471 15.6239 14.6188 15.4451 14.6451 15.2697C14.8267 14.516 15.096 13.846 15.2713 13.0924C15.4873 12.5347 15.1892 11.9154 14.6053 11.709C14.5752 11.6983 14.5445 11.6889 14.5135 11.6808C13.7871 11.5133 13.2297 12.1593 13.0356 12.578C12.8541 13.0214 12.8106 13.5053 12.9104 13.9717C13.0161 14.1741 13.0919 14.3895 13.1358 14.6117C12.998 15.2099 12.8352 15.8081 12.6661 16.4062C12.497 17.0043 12.3906 17.6025 12.2152 18.2007C12.1338 18.4638 12.1401 18.745 12.0712 19.0201V19.4209C12.0278 19.7379 12.0427 20.0598 12.1151 20.3719C12.1527 20.5335 12.1151 20.7309 12.1777 20.8505C12.175 20.9035 12.1904 20.956 12.2216 21C12.4784 21 12.8478 20.348 12.9606 20.1626C13.2045 19.792 13.4141 19.4017 13.5868 18.9962C13.7559 18.6193 13.7809 18.2007 13.9125 17.7999C14.045 17.4697 14.1395 17.1267 14.1942 16.777C14.2755 16.9468 14.4116 17.0873 14.5825 17.1778C15.1837 17.5839 15.9362 17.7293 16.6554 17.5785C17.5299 17.4163 18.3156 16.9626 18.8723 16.2985C19.2508 15.8066 19.5427 15.2591 19.7365 14.6774C19.843 14.3784 19.8618 14.0434 19.9432 13.7264C20.0781 12.9505 19.9714 12.1539 19.6363 11.4355C18.9161 9.87432 17.3505 8.96514 14.8517 9.00102Z" fill="#555555"/>
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link lh-1 bls_tooltip px-6" aria-label="links">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M18.6 9H11.4C10.0745 9 9 10.0745 9 11.4V18.6C9 19.9255 10.0745 21 11.4 21H18.6C19.9255 21 21 19.9255 21 18.6V11.4C21.0001 10.0745 19.9255 9 18.6 9ZM17.4 10.8H19.2V12.6H17.4V10.8ZM15 12.6001C16.3255 12.6001 17.4 13.6746 17.4 15.0001C17.4 16.3255 16.3255 17.4 15 17.4C13.6745 17.4 12.6 16.3255 12.6 15.0001C12.6 13.6746 13.6745 12.6001 15 12.6001ZM19.8 18.6001C19.8 19.2628 19.2627 19.8001 18.6 19.8001H11.4C10.7373 19.8001 10.2 19.2628 10.2 18.6001V14.4H11.46C11.0996 16.3553 12.3926 18.2325 14.3479 18.5929C16.3032 18.9533 18.1804 17.6603 18.5408 15.705C18.5836 15.4725 18.6035 15.2364 18.6 15.0001C18.597 14.7987 18.577 14.598 18.54 14.4001H19.8V18.6001H19.8Z" fill="#555555"/>
        </svg>
        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link lh-1 bls_tooltip px-6" aria-label="links">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="14" cy="14" r="13.5" fill="white" stroke="#555555" />
          <path
              d="M14.5627 10.6082V8H13.0784C13.0449 8.09662 13.0272 8.21119 13.0272 8.32841C13.0113 8.3849 12.9936 8.42555 12.9936 8.4831C12.8409 9.44879 12.3977 10.1251 11.6472 10.4931C11.4255 10.6082 11.2216 10.6267 11 10.6082V12.7133H12.0904C12.1086 15.6716 12.1086 17.1975 12.1086 17.2751C12.1086 17.3332 12.1086 17.3912 12.1086 17.4504C12.2454 18.7434 12.8409 19.5169 13.8978 19.8068C14.3233 19.9424 14.7829 20 15.2443 20C15.8398 19.981 16.4199 19.8648 17 19.6521V17.1785C16.6597 17.2946 16.3505 17.3907 16.0795 17.4863C15.5511 17.6621 15.1079 17.5459 14.7494 17.1595C14.7154 17.1014 14.6642 17.0238 14.6465 16.9467C14.5971 16.6373 14.5636 16.3099 14.5636 15.9989V12.7138H16.9302V10.6082H14.5627Z"
              fill="#555555" />
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link lh-1 bls_tooltip px-6" aria-label="links">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="14" cy="14" r="13.5" fill="white" stroke="#555555" />
          <path
              d="M18.3899 18.0971C18.8459 18.0208 19.7895 17.8449 19.97 17.4019C20.061 17.1737 19.931 16.9882 19.765 16.96V16.9594C18.1609 16.678 17.4378 14.9262 17.4083 14.8516C16.9638 14.0018 18.1704 14.1447 18.6449 13.6265C19.108 13.1185 18.3654 12.5683 17.9009 12.8018C17.7104 12.8972 17.4248 13.0081 17.2348 12.9154C17.2798 12.1109 17.4043 10.7771 17.0988 10.0489C16.0712 7.59505 13.041 7.50656 11.6329 8.931C10.5234 10.0526 10.6594 11.2057 10.7634 12.9154C10.4183 13.0758 10.0773 12.757 9.82881 12.757C9.56779 12.757 9.26427 12.9378 9.21526 13.2102C9.15326 13.5679 9.51778 13.7982 9.83331 13.9309C10.3708 14.1559 10.8819 14.2225 10.5984 14.8366C10.5959 14.8414 10.5939 14.8462 10.5924 14.851C10.1908 15.8287 9.31427 16.7686 8.23519 16.9584C8.06118 16.9888 7.94217 17.1844 8.02918 17.4003V17.4014C8.20769 17.8449 9.16026 18.0224 9.60979 18.0971C9.7488 18.3743 9.64229 18.9218 10.0728 18.9218C10.2403 18.9218 10.5644 18.805 10.9779 18.805C11.5804 18.805 11.7859 18.9452 12.269 19.3088C12.765 19.6825 13.3101 20.0477 13.9876 19.9949C14.6932 20.0418 15.2172 19.6958 15.7312 19.3099L15.7317 19.3088C16.2328 18.933 16.5908 18.6552 17.6519 18.8775C18.4369 19.0396 18.2079 18.4729 18.3899 18.0971V18.0971Z"
              fill="#555555" />
        </svg>

        <span class="bls_tooltip-content">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link lh-1 bls_tooltip px-6" aria-label="links">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M14.2985 13.0897H14.5132C14.9883 13.0897 15.3742 12.7061 15.3771 12.231V10.8331C15.3686 10.3641 14.9874 9.98765 14.5184 9.98486H14.3037C13.8286 9.98486 13.4427 10.3684 13.4398 10.8435V12.2415C13.4484 12.7104 13.8295 13.0869 14.2985 13.0897ZM14.0838 10.7807C14.084 10.6015 14.2294 10.4562 14.4086 10.4563C14.5878 10.4564 14.733 10.6016 14.7331 10.7807V12.2834C14.7329 12.4626 14.5875 12.6079 14.4082 12.6078C14.2291 12.6076 14.084 12.4625 14.0838 12.2834V10.7807Z" fill="#555555"/>
          <path d="M11.7487 13.0367H12.5079V11.3665L13.3718 9H12.665L12.1414 10.5707L11.6178 9H10.8377L11.7592 11.3665L11.7487 13.0367Z" fill="#555555"/>
          <path d="M16.4608 13.0897C16.7664 13.0603 17.0528 12.9272 17.2724 12.7127V13.0373H17.9007V9.98491H17.2724V12.3514C17.2724 12.3514 17.0577 12.6027 16.8535 12.6027C16.6493 12.6027 16.6388 12.4404 16.6388 12.4404V9.98486H15.9739V12.6708C16.0102 12.9117 16.2172 13.0898 16.4608 13.0897Z" fill="#555555"/>
          <path d="M16.0315 16.5967C15.9053 16.6028 15.7876 16.6617 15.7069 16.759V18.9266C15.7897 19.0182 15.908 19.0697 16.0315 19.068C16.3561 19.068 16.3561 18.7067 16.3561 18.7067V16.958C16.3561 16.9579 16.2986 16.5967 16.0315 16.5967Z" fill="#555555"/>
          <path d="M18.5185 16.5967C18.1939 16.5967 18.1939 16.9579 18.1939 16.9579V17.4239H18.8431V16.9579C18.8431 16.9579 18.8431 16.5967 18.5185 16.5967Z" fill="#555555"/>
          <path d="M18.7604 13.7582C18.7513 13.7584 18.7422 13.7586 18.7331 13.7589H18.7227C18.7227 13.7589 16.7488 13.6489 14.7592 13.6489C12.7697 13.6489 10.7853 13.7536 10.7853 13.7536C9.91834 13.7247 9.19204 14.4041 9.16315 15.2711C9.16256 15.2888 9.16225 15.3066 9.16229 15.3243C9.06232 15.983 9.00805 16.6478 9 17.3139C9.00738 17.987 9.0616 18.6588 9.16229 19.3244C9.1618 20.1919 9.86466 20.8955 10.7321 20.896C10.7499 20.896 10.7676 20.8957 10.7854 20.8951C10.7854 20.8951 12.7383 20.9998 14.7593 20.9998C16.7803 20.9998 18.7332 20.8951 18.7332 20.8951C19.6002 20.9241 20.3265 20.2447 20.3554 19.3777C20.356 19.3599 20.3563 19.3422 20.3562 19.3244C20.4564 18.6588 20.5106 17.987 20.5185 17.3139C20.5119 16.6407 20.4576 15.9689 20.3562 15.3034C20.3422 14.4361 19.6278 13.7442 18.7604 13.7582ZM12.4084 15.5128H11.6178V19.5862H10.8377V15.5128H10.0471V14.8426H12.4241L12.4084 15.5128ZM14.4661 19.5862H13.8116V19.2773C13.5889 19.4847 13.3033 19.6119 13.0001 19.6386C12.7565 19.6437 12.5475 19.4661 12.5132 19.2249V16.0259H13.1886V19.0155C13.1886 19.0155 13.1886 19.1726 13.4032 19.1726C13.6179 19.1726 13.8378 18.9161 13.8378 18.9161V16.0259H14.487L14.4661 19.5862ZM16.4085 19.6386C16.1331 19.6411 15.8728 19.5129 15.7069 19.293V19.5862H15.0001V14.8427H15.7017V16.382C15.8813 16.1786 16.1328 16.0528 16.4033 16.0312C16.8378 16.0312 17.0001 16.3925 17.0001 16.8584L17.0054 18.8114C17.0054 18.8114 17.0054 19.6386 16.4085 19.6386ZM19.5447 17.9527H18.1938V18.7276C18.1938 18.7276 18.1938 19.0888 18.5185 19.0888C18.8431 19.0888 18.8431 18.7276 18.8431 18.7276V18.3611H19.5447V18.9265C19.4508 19.3798 19.0319 19.6906 18.5708 19.649C18.0933 19.692 17.653 19.3882 17.5237 18.9265V16.9055C17.5383 16.4026 17.9578 16.0067 18.4607 16.0213C18.4976 16.0223 18.5344 16.0256 18.5708 16.0312C19.0374 15.9644 19.4698 16.2885 19.5366 16.755C19.5438 16.8048 19.5465 16.8552 19.5447 16.9055V17.9527H19.5447Z" fill="#555555"/>
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link lh-1 bls_tooltip px-6" aria-label="links">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="14" cy="14" r="13.5" fill="white" stroke="#555555" />
          <path
              d="M15.0332 11.2292C16.6274 10.2892 17.4866 11.6141 16.6694 13.1117C15.8504 14.6153 15.0988 15.5956 14.7095 15.5956C14.3271 15.5956 14.0243 14.5869 13.5764 12.8359C13.117 11.0221 13.117 7.752 11.1955 8.12317C9.37907 8.47544 7 11.2678 7 11.2678L7.56524 11.999C7.56524 11.999 8.73771 11.0908 9.12795 11.5428C9.52345 11.999 11.0205 17.4772 11.5158 18.4902C11.948 19.3778 13.1476 20.5489 14.4583 19.7137C15.7813 18.8734 20.1483 15.2115 20.9306 10.8786C21.7111 6.55342 15.6667 7.45902 15.0332 11.2292Z"
              fill="#555555" />
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
