<!doctype html>
<html class="no-js{% if settings.rtl %} body-rtl{% endif %}" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    <meta name="description" content="{{ page_description | default:shop.description | default: shop.name | escape }}">
    {{ content_for_header }}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    {%- render 'head-assets' -%}
  </head>
  <body class="{% if template.name == 'collection' %}template-collection{% endif %}{% if template.name == 'product' %}template-product {% endif %}{% if template.name == 'index' %}template-index{% endif %} {%- if settings.general_layout == 'boxed' -%}box-layout{% elsif settings.general_layout == 'full_width' %}full-width-layout{% else %}{%- endif -%} {%- if settings.content_center -%}item-center{%- endif -%}">
    <div class="bls-wrapper">
      <div class="bls__overlay d-none-overlay"></div>
      {% section 'announcement' %}
      {%- render 'header' -%}
      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>
      {%- render 'footer-layout' -%}
      {%- section 'mobile-stickybar' -%}
      {%- section 'custom-colors' -%}
    </div>
    {%- render 'fake-order' -%}
    {%- render 'content-bottom' -%}
    {%- render 'before-you-leave' -%}
    {%- render 'scripts-tag' -%}
  </body>
</html>
