{{ 'custom-text.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings
  assign container = st.container
  assign text_align = st.text_align
  assign background_color = st.bg_color
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif
  assign has_bg = ''
  if background_color != blank
    assign has_bg = ' has-bg'
  endif
-%}

{%- capture style -%}
  {%- if background_color != blank -%}
    --section-bg-color: {{ background_color }};
  {%- endif -%}
  --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px;
{%- endcapture -%}

<section
  class="bls__section {{ has_bg }}{{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spt_mobile }} bls__section-custom-text {{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ container }}">
    <div class="bls__section-header {{ text_align }}">
      {%- for block in section.blocks -%}
        {%- liquid
          assign b_st = block.settings

          assign heading = b_st.heading
          assign heading_fs = b_st.heading_fs
          assign heading_color = b_st.heading_color
          assign heading_fw = b_st.heading_fw
          assign heading_color = b_st.heading_color
          assign heading_tf = b_st.heading_tf
          assign heading_mt = b_st.heading_mt
          assign heading_mb = b_st.heading_mb

          assign sub_heading = b_st.sub_heading
          assign sub_fs = b_st.sub_fs
          assign sub_color = b_st.sub_color
          assign sub_fw = b_st.sub_fw
          assign sub_color = b_st.sub_color
          assign sub_tf = b_st.sub_tf
          assign sub_mt = b_st.sub_mt
          assign sub_mb = b_st.sub_mb

          assign desc = b_st.desc
          assign desc_fs = b_st.desc_fs
          assign desc_color = b_st.desc_color
          assign desc_fw = b_st.desc_fw
          assign desc_color = b_st.desc_color
          assign desc_tf = b_st.desc_tf
          assign desc_mt = b_st.desc_mt
          assign desc_mb = b_st.desc_mb
        -%}
        {%- if sub_heading != blank -%}
          <div
            class="bls__section-sub-heading"
            style="--sub-font-size: {{ sub_fs }}px;--sub-font-weight: {{ sub_fw }};{%- if sub_color != blank -%}--sub-color: {{ sub_color }};{%- endif -%}--sub-transform: {{ sub_tf }};--sub-mt: {{ sub_mt }}px;--sub-mb: {{ sub_mb }}px;"
          >
            {{ sub_heading }}
          </div>
        {%- endif -%}
        {%- if heading != blank -%}
          <h2
            class="bls__section-heading mb-5"
            style="--heading-font-size: {{ heading_fs }}px;--heading-font-weight: {{ heading_fw }};{%- if heading_color != blank -%}--heading-color: {{ heading_color }};{%- endif -%}--heading-transform: {{ heading_tf }};--heading-mt: {{ heading_mt }}px;--heading-mb: {{ heading_mb }}px;"
          >
            {{ heading }}
          </h2>
        {%- endif -%}
        {%- if desc != blank -%}
          <div
            class="bls__section-des"
            style="--desc-font-size: {{ desc_fs }}px;--desc-font-weight: {{ desc_fw }};{%- if desc_color != blank -%}--desc-color: {{ desc_color }};{%- endif -%}--desc-transform: {{ desc_tf }};--desc-mt: {{ desc_mt }}px;--desc-mb: {{ desc_mb }}px;"
          >
            {{ desc }}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{%- schema -%}
{
  "name": "Custom content",
  "settings": [
    {
      "type": "header",
      "content": "Genaral"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Our Unique Things"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "heading_fs",
          "label": "Font size",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 40
        },
        {
          "type": "range",
          "id": "heading_fw",
          "label": "Font weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "select",
          "id": "heading_tf",
          "label": "Text transform",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "capitalize",
              "label": "Capitalize"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "heading_mt",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "Margin top"
        },
        {
          "type": "range",
          "id": "heading_mb",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "Margin bottom"
        }
      ]
    },
    {
      "type": "sub_heading",
      "name": "Sub heading",
      "settings": [
        {
          "type": "richtext",
          "id": "sub_heading",
          "label": "Sub heading",
          "default": "<p>Why Choose Us</p>"
        },
        {
          "type": "color",
          "id": "sub_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "sub_fs",
          "label": "Font size",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 12
        },
        {
          "type": "range",
          "id": "sub_fw",
          "label": "Font weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 500
        },
        {
          "type": "select",
          "id": "sub_tf",
          "label": "Text transform",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "capitalize",
              "label": "Capitalize"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "sub_mt",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "Margin top"
        },
        {
          "type": "range",
          "id": "sub_mb",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "Margin bottom"
        }
      ]
    },
    {
      "type": "desc",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description",
          "default": "<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos vel pretium lectus qua. Nunc id cursus metus ididunt ut labore metus episcing.</p>"
        },
        {
          "type": "color",
          "id": "desc_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "desc_fs",
          "label": "Font size",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 16
        },
        {
          "type": "range",
          "id": "desc_fw",
          "label": "Font weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "select",
          "id": "desc_tf",
          "label": "Text transform",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "capitalize",
              "label": "Capitalize"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "desc_mt",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "Margin top"
        },
        {
          "type": "range",
          "id": "desc_mb",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "Margin bottom"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom content",
      "blocks": [
        {
          "type": "sub_heading"
        },
        {
          "type": "heading"
        },
        {
          "type": "desc"
        }
      ]
    }
  ]
}
{%- endschema -%}
