{%- liquid
  assign st = section.settings
  assign container = st.container
  assign copyright = st.copyright
  assign social_link = st.show_social_links
  assign blocks = section.blocks
  assign bg_color = st.footer_background_color
  assign heading_color = st.footer_title_color
  assign text_color = st.footer_text_color
  assign link_color = st.footer_link_color
  assign link_color_hover = st.footer_link_color_hover
  assign border_color = st.footer_border_color
  assign text_bottom_color = st.footer_bottom_text_color
  assign bg_bottom_color = st.footer_bottom_background_color
  assign show_language = st.show_language
  assign show_country = st.show_country

  assign payment_positon = ''
  if show_language or show_country or copyright != blank
    assign payment_positon = ' justify-content-md-end'
  else
    assign payment_positon = 'justify-content-center'
  endif

  assign has_bg = ''
  if bg_color == blank or bg_color == 'rgba(0,0,0,0)'
    assign has_bg = 'not-bg'
    else 
    assign has_bg = 'has-bg'
  endif
-%}
<footer class="footer {{ has_bg }}" style=" --footer-background-color : {{ bg_color }};
  --footer-heading-color : {{ heading_color }};
  --footer-text-color: {{ text_color }};
  --footer-link-color : {{ link_color }};
  --footer-link-hover-color : {{ link_color_hover }};
  --footer-bottom-background--color : {{ bg_bottom_color }};
  --footer-bottom-text-color : {{ text_bottom_color }};
  --border-color-base : {{ border_color }};">
  {%- if st.back_to_top != blank -%}
    <div class="back-top fixed right-30 rounded box-shadow width-50 height-50 flex content-center z-5 pointer">
        <span id="bls__back-top">
        </span>
        <i class=" icon-chevrons-up fs-18 text-white"></i>
    </div>
  {%- endif -%}
  {%- if blocks.size > 0 -%}
    <div class="bls__footer-middle">
      <div class="{{ container }}">
        <div class="row">
          {%- for block in blocks -%}
            {%- liquid
              case block.settings.width
                when '8.333%'
                  assign block_width = 'd-none d-xl-flex col-xl-1'
                when '16%'
                  assign block_width = 'col-md-6 col-xl-2'
                when '25%'
                  assign block_width = 'col-md-6 col-xl-3'
                when '33%'
                  assign block_width = 'col-md-6 col-xl-4'
                when '50%'
                  assign block_width = 'col-md-6 col-xl-6'
                when '66%'
                  assign block_width = 'col-md-6 col-xl-8'
                when '75%'
                  assign block_width = 'col-md-6 col-xl-9'
                when '83%'
                  assign block_width = 'col-md-6 col-xl-10'
                when '100%'
                  assign block_width = 'col-md-6 col-xl-12'
              endcase

              assign block_title = block.settings.title
              if block.type == 'menu' and block_title == blank
                assign block_title = linklists[block.settings.menu].title
              endif
            -%}
            <div class="bls__footer_block relative bls_footer--{{ block.type }} {{ block_width }} mb-md-30 mb-10">
              {%- if block_title != blank -%}
                <h3 class="bls__footer_block-title fs-14 py-10 mb-0 uppercase toogle-menu">
                  {{ block_title }}
                  <span class="open-children-toggle"></span>
                </h3>
              {%- endif -%}
              {%- if block_title != blank -%}<div class="bls__footer_block-content toogle-content pt-15">{%- endif -%}
              {%- case block.type -%}
                {%- when 'menu' -%}
                  {%- liquid
                    assign menu = linklists[block.settings.menu]
                  -%}
                  {%- if menu.links != blank -%}
                    <ul class="pl-0 list-none mt-0">
                      {%- for link in menu.links -%}
                        <li class="mb-10">
                          <a href="{{ link.url }}">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'about_us' -%}
                  {%- if block.settings.description != blank -%}
                    <div class="mb-15">{{ block.settings.description }}</div>
                  {%- endif -%}
                  {%- if block.settings.logo_about_us != blank -%}
                  <div
                    class="bls__footer-logo mb-30"
                    style="width: {{ block.settings.logo_width }}px"
                  >
                    {%- render 'responsive-image', image: block.settings.logo_about_us -%}
                  </div>
                  {%- endif -%}
                  <div class="bls__footer-infor mb-24">
                    {%- if settings.store_address and block.settings.show_address -%}
                      <p class="mb-0-important">
                        {{ settings.store_address }}
                      </p>
                    {%- endif -%}
                    {%- if settings.store_phone and block.settings.show_phone -%}
                      <p class="mb-0-important">
                        <a href="tel:{{ settings.store_phone }}" class="">
                          {{ settings.store_phone }}
                        </a>
                      </p>
                    {%- endif -%}
                    {%- if settings.store_email and block.settings.show_email -%}
                      <p class="mb-0-important">
                        <a href="mailto:{{ settings.store_email }}" class="">
                          {{ settings.store_email }}
                        </a>
                      </p>
                    {%- endif -%}
                  </div>
                  {%- if block.settings.show_socials_link -%}
                    {%- render 'social-media-links', custom_class: '' -%}
                  {%- endif -%}
                {%- when 'newsletter' -%}
                  {{ block.settings.description }}
                  <div class="bls__newsletter-form mt-30">
                    {%- form 'customer' -%}
                      <input
                        type="hidden"
                        name="contact[tags]"
                        value="newsletter"
                      >
                      <div class="form-action design-2 flex rounded-5 relative">
                        <input
                          type="email"
                          required
                          name="contact[email]"
                          placeholder="{{ block.settings.email_placeholder }}"
                          autocapitalize="off"
                          autocomplete="off"
                          spellcheck="false"
                          class="flex-fill"
                        >
                        <button
                          type="submit"
                          name="commit"
                          class="bls__form-submit btn-reset"
                          aria-label="{{ 'newsletter.button_label' | t }}"
                        >
                          <svg
                            width="21"
                            height="12"
                            viewBox="0 0 21 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0.998167 6.99367H17.7438L14.6065 10.2753C13.7054 11.2179 15.0571 12.6317 15.9582 11.6891L18.8154 8.69585L20.7228 6.69763C21.0924 6.30866 21.0924 5.68047 20.7228 5.2915L15.9582 0.30194C15.777 0.107098 15.5275 -0.00222683 15.2675 3.43939e-05C14.4094 0.000147455 13.9882 1.09346 14.6065 1.7159L17.7512 4.99753H0.948827C-0.372784 5.06612 -0.274105 7.06249 0.998167 6.99367Z"
                              fill="#999999" />
                          </svg>
                        </button>
                      </div>
                    {%- endform -%}
                  </div>
                  {%- if block.settings.show_social -%}
                    <div class="block mx-4 mt-20">
                      {%- render 'social-media-links' -%}
                    </div>
                  {%- endif -%}
                {%- when 'custom_text' -%}
                  {%- if block.settings.image != blank -%}
                    <div
                      class=""
                      style="max-width: {{ block.settings.image_max }}"
                    >
                      {%- render 'responsive-image', image: block.settings.image -%}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.description != blank -%}
                    {{ block.settings.description }}
                  {%- endif -%}
                {%- when 'custom_html' -%}
                  {%- if block.settings.html != blank -%}
                    {{ block.settings.html }}
                  {%- endif -%}
                {%- else -%}
              {%- endcase -%}
              {%- if block_title != blank -%}</div>{%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- endif -%}
  <div class="bls__footer-bottom">
    <div class="{{ container }}">
      <div class="flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-20 pb-10 py-lg-30 border-top">
        {%- if show_language or show_country -%}
          <div class="lang-curentcy flex flex-nowrap col-md">
            {%- liquid
              if show_language
                render 'language-switcher'
              endif
              if show_country
                render 'country-switcher'
              endif
            -%}
          </div>
        {%- endif -%}
        {%- if copyright != blank -%}
          <div class="bls__footer-bottom-left footer_bottom-block mb-10 mb-lg-0 text-center-mb px-15 col-12 col-md-auto d-md-inline-flex align-items-center">
            <div class="copyright">{{ copyright }}</div>
          </div>
        {%- endif -%}
        <div class="bls__footer-bottom-right flex align-items-center col-md{{ payment_positon }}">
          {%- if social_link != false -%}
            <div class="footer_bottom-block mb-10 mb-lg-0">
              {%- render 'social-media-links', custom_class: '' -%}
            </div>
          {%- endif -%}
          {%- render 'payment-icon', custom_class: '' -%}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "back_to_top",
      "label": "Enable back to top",
      "default": true
    },
    {
      "type": "header",
      "content": "Copyright"
    },
    {
      "type": "richtext",
      "id": "copyright",
      "label": "Copyright text",
      "default": "<p>Copyright © Uminex all rights reserved. Powered by Blueskytechco.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_country",
      "label": "Show Country",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_language",
      "label": "Show language",
      "default": true
    },
    {
      "type": "header",
      "content": "Payment icon"
    },
    {
      "type": "image_picker",
      "id": "image_payment",
      "label": "Upload payment icons",
      "info": "Leave blank to use icons by Payment methods"
    },
    {
      "type": "number",
      "id": "payment_icons_width",
      "label": "Image width (px)",
      "default": 300
    },
    {
      "type": "header",
      "content": "Addons"
    },
    {
      "type": "checkbox",
      "id": "show_social_links",
      "label": "Show social icons (beside payment image)",
      "default": false
    },
    {
      "type": "header",
      "content": "Footer color"
    },
    {
      "type": "color",
      "id": "footer_background_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "footer_title_color",
      "label": "Heading color",
      "default": "#111"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Text color",
      "default": "#555"
    },
    {
      "type": "color",
      "id": "footer_link_color",
      "label": "Link color",
      "default": "#111"
    },
    {
      "type": "color",
      "id": "footer_link_color_hover",
      "label": "Link color hover",
      "default": "#111"
    },
    {
      "type": "color",
      "id": "footer_border_color",
      "label": "Border color",
      "default": "#ebebeb"
    },
    {
      "type": "header",
      "content": "Footer bottom color"
    },
    {
      "type": "color",
      "id": "footer_bottom_background_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "footer_bottom_text_color",
      "label": "Text color",
      "default": "#555"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "limit": 4,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Footer menu",
          "default": "main-menu"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Service",
          "info": "Leave blank to use menu heading"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "about_us",
      "name": "About",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "logo_about_us",
          "label": "Logo"
        },
        {
          "type": "number",
          "id": "logo_width",
          "label": "Image width (px)",
          "default": 84
        },
        {
          "type": "header",
          "content": "Contact information",
          "info": "Go to \"Theme settings > \" to update these information."
        },
        {
          "type": "checkbox",
          "id": "show_address",
          "label": "Show address",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_phone",
          "label": "Show phone number",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_email",
          "label": "Show email",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_socials_link",
          "label": "Show social icons",
          "default": false
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Newsletter description</p>"
        },
        {
          "type": "text",
          "id": "email_placeholder",
          "label": "Email placeholder",
          "default": "Enter your email"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social icons",
          "default": false
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_text",
      "name": "Custom content",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Custom text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_max",
          "label": "Image max-width (px)",
          "default": "200px"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Content",
          "default": "<p>Enter your email below to be the first to know about new collections and product launches.</p>"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_html",
      "name": "Custom HTML",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Custom HTML"
        },
        {
          "type": "liquid",
          "id": "html",
          "label": "HTML",
          "info": "Liquid code supported"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "spacing",
      "name": "Spacing",
      "limit": 5,
      "settings": [
        {
          "type": "paragraph",
          "content": "Use this block to make a spacing between columns"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "8.333%",
          "options": [
            {
              "value": "8.333%",
              "label": "8.333%"
            },
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
