{{ 'lookbook.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings
  assign container = st.container
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign bg_color = st.background_color
  assign ds_layout = st.design_layout
  assign custom_column = st.slider_lookbook_items
  assign column_gap = st.column_gap
  assign item_desktop = st.slider_lookbook_items
  assign show_arrow = st.show_arrow
  assign show_bullet = st.show_bullet
  assign loop = st.loop
  assign autoplay = st.autoplay
  assign aspect_ratio = st.aspect_ratio
  assign custom_ratio = st.custom_ratio

  assign responsive_column = ''
  if custom_column == 1
    assign responsive_column = 'col-12'
  elsif custom_column == 2 or custom_column == 4
    assign responsive_column = 'col-sm-6'
  else
    assign responsive_column = 'col-sm-4'
  endif

  assign column_gap_tablet = ''
  if column_gap > 30
    assign column_gap_tablet = ' gap-tablet'
  endif
  assign column_gap_mobile = ''
  if column_gap > 15
    assign column_gap_mobile = ' gap-mobile'
  endif

  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif

  assign has_bg = ''
  if bg_color != blank
    assign has_bg = ' has-bg'
  endif
-%}
{%- capture style -%}
  {%- if bg_color != blank -%}
    --section-bg-color: {{ bg_color }};
  {%- endif -%}
  --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px; --bs-gutter-x:
  {{ column_gap }}px;
{%- endcapture -%}
<section
  class="bls__section {{ has_bg }}{{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spt_mobile }} bls__lookbook {{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
  id="{{ section.id }}"
  data-id="{{ section.id }}"
>
  <div class="{{ container }} section-full">
    {%- if heading != blank or description != blank -%}
      <div class="bls__section-header {{ text_align }}">
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5">{{ heading }}</h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des">
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="bls__lookbook-content">
      {%- if ds_layout == 'slider' -%}
        <div
          class="swiper bls__swiper hover__show-nav"
          id="bls__swiper-{{ section.id }}"
          data-section-id="{{ section.id }}"
          data-autoplay="{{ autoplay }}"
          data-loop="{{ loop }}"
          data-mobile="2"
          data-tablet="3"
          data-desktop="{{ item_desktop }}"
          data-spacing="{{ column_gap }}"
        >
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              <div class="swiper-slide" style="transform: unset;">
                {% render 'lookbook-card', block: block, aspect_ratio: aspect_ratio, custom_ratio: custom_ratio %}
              </div>
            {%- endfor -%}
          </div>
          {% render 'swiper-control', show_bullet: show_bullet, show_arrow: show_arrow %}
        </div>
      {%- else -%}
        <div
          class="row row-cols-lg-{{ custom_column }}{{ column_gap_tablet }}{{ column_gap_mobile }}"
          style="--bs-gutter-x: {{ column_gap }}px;"
        >
          {%- for block in section.blocks -%}
            <div class="{{ responsive_column }}">
              {% render 'lookbook-card', block: block, aspect_ratio: aspect_ratio, custom_ratio: custom_ratio %}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Lookbook",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Shop by lookbook"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p></p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Lookbook settings"
    },
    {
      "type": "select",
      "id": "design_layout",
      "label": "Lookbook type",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "slider",
          "label": "Carousel"
        }
      ]
    },
    {
      "type": "select",
      "id": "dot_type",
      "label": "Dots type",
      "options": [
        {
          "value": "icon",
          "label": "Plus dot"
        },
        {
          "value": "number",
          "label": "Number dot"
        }
      ]
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio",
      "default": "1/1",
      "options": [
        {
          "value": "original",
          "label": "Original aspect ratio"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ]
    },
    {
      "type": "text",
      "id": "custom_ratio",
      "label": "Custom ratio",
      "default": "21:9"
    },
    {
      "type": "range",
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 5,
      "default": 30,
      "label": "Column gap",
      "id": "column_gap"
    },
    {
      "type": "range",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 3,
      "label": "Items per row",
      "id": "slider_lookbook_items"
    },
    {
      "type": "header",
      "content": "Lookbook action"
    },
    {
      "type": "select",
      "id": "action_click",
      "label": "Click on dots",
      "options": [
        {
          "value": "fancybox",
          "label": "Open popup"
        },
        {
          "value": "redirect-url",
          "label": "Redirect to url"
        }
      ]
    },
    {
      "type": "select",
      "id": "popup_type",
      "label": " Open as",
      "default": "popup_item",
      "options": [
        {
          "value": "popup_item",
          "label": "Simple product popup"
        },
        {
          "value": "popup_quickview",
          "label": "Quickview"
        }
      ]
    },
    {
      "type": "header",
      "content": "Settings for carousel"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Infinity",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "Show arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bullet",
      "label": "Show bullets",
      "default": true
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "lookbook",
      "name": "Lookbook item",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Lookbook image"
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "range",
          "id": "position_top_1",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "position_left_1",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 63
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "range",
          "id": "position_top_2",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 26
        },
        {
          "type": "range",
          "id": "position_left_2",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "range",
          "id": "position_top_3",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 61
        },
        {
          "type": "range",
          "id": "position_left_3",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 48
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "range",
          "id": "position_top_4",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "position_left_4",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "range",
          "id": "position_top_5",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
          "type": "range",
          "id": "position_left_5",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Select product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook",
      "blocks": [
        {
          "type": "lookbook"
        },
        {
          "type": "lookbook"
        },
        {
          "type": "lookbook"
        }
      ]
    }
  ]
}
{% endschema %}
