<section class="bls__section bls__page-addresses">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-30">
                <div class="account-dashboard">
                    {% render 'customer-nav' %}
                </div>
            </div>
            <div class="col-md-9 mb-20 border-left">
                <div class="bls__your-addresses bls-customer__address mb-30 pb-20">
                    <h3>{{ 'customer.account.your_addresses' | t }} ({{ customer.addresses_count }})</h3>
                    <button class="btn btn-primary add-address" data-attr aria-expanded="false"
                        aria-controls="AddAddress">{{ 'customer.addresses.add_new' | t }}</button>
                    <div class="form-add-addresses mt-30" id="AddAddress">
                        {% form 'customer_address', customer.new_address %}
                        <div class="bls-customer-form__new-wrapper">
                            <div class="address-form my-3 bls-customer-form__new">
                                <div class="form-field form-group mb-15 flex flex-column">
                                    <label for="AddressFirstName" class="control-label">{{
                                        'customer.addresses.first_name' | t }}</label>
                                    <input class="form-input form-input-placeholder" type="text"
                                        placeholder="{{ 'customer.addresses.first_name' | t }}"
                                        name="address[first_name]" id="AddresFsirstName_{{ form.id }}"
                                        value="{{ form.first_name }}" autocapitalize="words">
                                </div>
                                <div class="form-field form-group mb-15 flex flex-column">
                                    <label for="AddressLastName" class="control-label">{{ 'customer.addresses.last_name'
                                        | t }}</label>
                                    <input class="form-input form-input-placeholder" type="text"
                                        name="address[last_name]" id="AddressLastName_{{ form.id }}"
                                        value="{{ form.last_name }}" autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.last_name' | t }}">
                                </div>
                                <div class="form-field form-group mb-15 flex flex-column">
                                    <label for="AddressCompany">{{ 'customer.addresses.company' | t }}</label>
                                    <input class="form-input form-input-placeholder" type="text" name="address[company]"
                                        id="AddressCompany_{{ form.id }}" value="{{ form.company }}"
                                        autocapitalize="words" placeholder="{{ 'customer.addresses.company' | t }}">
                                </div>
                                <div class="form-field form-group mb-15 flex flex-column">
                                    <label for="AddressAddress1">{{ 'customer.addresses.address1' | t }}</label>
                                    <input class="form-input form-input-placeholder" type="text"
                                        name="address[address1]" id="AddressAddress1_{{ form.id }}"
                                        value="{{ form.address1 }}" autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.address1' | t }}">
                                </div>
                                <div class="form-field form-group mb-15 flex flex-column">
                                    <label for="AddressAddress2">{{ 'customer.addresses.address2' | t }}</label>
                                    <input class="form-input form-input-placeholder" type="text"
                                        name="address[address2]" id="AddressAddress2_{{ form.id }}"
                                        value="{{ form.address2 }}" autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.address2' | t }}">
                                </div>
                                <div class="form-field form-group mb-15 flex flex-column">
                                    <label for="AddressCity">{{ 'customer.addresses.city' | t }}</label>
                                    <input class="form-input form-input-placeholder" type="text" name="address[city]"
                                        id="AddressCity_{{ form.id }}" value="{{ form.city }}" autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.city' | t }}">
                                </div>
                                <div class="form-field form-group mb-15 flex flex-column">
                                    <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                                    <select class="form-input form-input-placeholder" name="address[country]"
                                        id="AddressCountryNew" class="address-country-option"
                                        data-default="{{ form.country }}">
                                        {{ country_option_tags }}
                                    </select>
                                </div>
                                <div class="form-field form-group mb-15 flex flex-column"
                                    id="AddressProvinceNewContainer" style="display:none">
                                    <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                                    <select id="AddressProvinceNew" name="address[province]"
                                        data-default="{{ form.province }}"></select>
                                </div>
                                <div class="form-field form-group mb-15 flex flex-column">
                                    <label for="AddressZip">{{ 'customer.addresses.zip' | t }}</label>
                                    <input class="form-input form-input-placeholder" type="text" name="address[zip]"
                                        id="AddressZip_{{ form.id }}" value="{{ form.zip }}" autocapitalize="characters"
                                        placeholder="{{ 'customer.addresses.zip' | t }}">
                                </div>
                                <div class="form-field form-group mb-15 flex flex-column">
                                    <label for="AddressPhone">{{ 'customer.addresses.phone' | t }}</label>
                                    <input class="form-input form-input-placeholder" type="tel" name="address[phone]"
                                        id="AddressPhone_{{ form.id }}" value="{{ form.phone }}" pattern="[0-9\-]*"
                                        placeholder="{{ 'customer.addresses.phone' | t }}">
                                </div>
                            </div>
                            <div class="mt-3 mb-20">
                                {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_{{ form.id }}" class="cursor-pointer">
                                    <span class="ml-2">{{ 'customer.addresses.set_default' | t }}</span>
                                </label>
                            </div>
                            <div class="flex">
                                <button type="submit" class="btn btn-primary mr-10">
                                    {{ 'customer.addresses.add_new' | t }}
                                </button>
                                <button 
                                    type="reset"
                                    class="btn btn-secondary cancel-add">
                                    {{ 'customer.addresses.cancel' | t }}
                                </button>
                            </div>
                        </div>
                        {% endform %}
                    </div>
                </div>
                <div class="bls__addreses-default">
                    <h3 class="mb-5 title-default">{{ 'customer.addresses.default' | t }}</h3>
                    <div class="bls_addreses-info-details row">
                        {% for address in customer.addresses %}
                        <div class="bls-customer__address-info mt-15 col-lg-6">
                            <div class="address-info-inner">
                                <h3 class="title-info">
                                    {%- if address.address1 != blank -%}
                                        {{ address.address1 }}
                                        {% if address == customer.default_address %}
                                            <span>({{ 'customer.addresses.default' | t }})</span>
                                        {% endif %}
                                    {%- else -%}
                                        {{ 'customer.addresses.title' | t }}
                                        {% if address == customer.default_address %}
                                            <span>({{ 'customer.addresses.default' | t }})</span>
                                        {% endif %}
                                    {%- endif -%}
                                </h3>
                                <div class="address-info mb-25">
                                    <p>{{ address.name }}</p>
                                    <p>{{ customer.email }}</p>
                                    <p>{{ address.company }}</p>
                                    <p>{{ address.address1 }}</p>
                                    {%- assign address2 = address.address2 | strip -%}
                                    {%- if address2 != '' -%}
                                    <p>, {{ address2 }}</p>
                                    {%- endif -%}
                                    <p>{{ address.country }}</p>
                                    <p>{{ address.zip }}</p>
                                    <p>{{ address.phone }}</p>
                                </div>
                                <div class="flex info-actions">
                                    <button type="button" id="EditFormButton_{{ address.id }}"
                                        onclick="Shopify.CustomerAddress.toggleForm({{address.id}}); return false;"
                                        aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                                        aria-controls="EditAddress_{{ address.id }}" aria-expanded="false"
                                        data-address-id="{{ address.id }}" class="mr-10 btn btn-secondary flex-grow-1">
                                        {{ 'customer.addresses.edit' | t }}
                                    </button>
                                    <button type="button" class="btn btn-secondart btn-secondary address-delete flex-grow-1"
                                        data-form-id="{{ address.id }}"
                                        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                                        {{ 'customer.addresses.delete' | t }}
                                    </button>
                                </div>
                            </div>
                        </div>
                       
                        {% endfor %}
                    </div>
                    {%- for address in customer.addresses -%}
                    <div id="EditAddress_{{ address.id }}" style="display: none;">
                        <div class="bls__your-addresses">
                            <h3 class="title-default edit-address-title text-left">
                                {{ 'customer.addresses.edit_address' | t }}: {{ address.first_name | uppercase }}
                                {{address.last_name | uppercase }} {% if address == customer.default_address %}
                                <span class="default">{{ 'customer.addresses.default' | t }}</span>
                                {% endif %}
                            </h3>
                            {% form 'customer_address', address %}
                            <div class="bls-customer-form__edit-wrapper">
                                <div class="address-form my-3 bls-customer-form__edit">
                                    <div class="form-field form-group mb-15 flex flex-column">
                                        <label for="AddressFirstName" class="control-label">{{
                                            'customer.addresses.first_name' | t }}</label>
                                        <input class="form-input form-input-placeholder" type="text"
                                            placeholder="{{ 'customer.addresses.first_name' | t }}"
                                            name="address[first_name]" id="AddressFirstName_{{ form.id }}"
                                            value="{{ form.first_name }}" autocapitalize="words">
                                    </div>
                                    <div class="form-field form-group mb-15 flex flex-column">
                                        <label for="AddressLastName" class="control-label">{{
                                            'customer.addresses.last_name'
                                            | t }}</label>
                                        <input class="form-input form-input-placeholder" type="text"
                                            name="address[last_name]" id="AddressLastName_{{ form.id }}"
                                            value="{{ form.last_name }}" autocapitalize="words"
                                            placeholder="{{ 'customer.addresses.last_name' | t }}">
                                    </div>
                                    <div class="form-field form-group mb-15 flex flex-column">
                                        <label for="AddressCompany">{{ 'customer.addresses.company' | t }}</label>
                                        <input class="form-input form-input-placeholder" type="text" name="address[company]"
                                            id="AddressCompany_{{ form.id }}" value="{{ form.company }}"
                                            autocapitalize="words" placeholder="{{ 'customer.addresses.company' | t }}">
                                    </div>
                                    <div class="form-field form-group mb-15 flex flex-column">
                                        <label for="AddressAddress1">{{ 'customer.addresses.address1' | t }}</label>
                                        <input class="form-input form-input-placeholder" type="text"
                                            name="address[address1]" id="AddressAddress1_{{ form.id }}"
                                            value="{{ form.address1 }}" autocapitalize="words"
                                            placeholder="{{ 'customer.addresses.address1' | t }}">
                                    </div>
                                    <div class="form-field form-group mb-15 flex flex-column">
                                        <label for="AddressAddress2">{{ 'customer.addresses.address2' | t }}</label>
                                        <input class="form-input form-input-placeholder" type="text"
                                            name="address[address2]" id="AddressAddress2_{{ form.id }}"
                                            value="{{ form.address2 }}" autocapitalize="words"
                                            placeholder="{{ 'customer.addresses.address2' | t }}">
                                    </div>
                                    <div class="form-field form-group mb-15 flex flex-column">
                                        <label for="AddressCity">{{ 'customer.addresses.city' | t }}</label>
                                        <input class="form-input form-input-placeholder" type="text" name="address[city]"
                                            id="AddressCity_{{ form.id }}" value="{{ form.city }}" autocapitalize="words"
                                            placeholder="{{ 'customer.addresses.city' | t }}">
                                    </div>
                                    <div class="form-field form-group mb-15 flex flex-column">
                                        <label for="AddressCountry">{{ 'customer.addresses.country' | t }}</label>
                                        <select class="form-input form-input-placeholder edit-country-option"
                                            name="address[country]" id="AddressCountry_{{ form.id }}"
                                            data-form-id="{{ form.id }}" data-default="{{ form.country }}">
                                            {{ country_option_tags }}
                                        </select>
                                    </div>
                                    <div class="form-field form-group mb-15 flex flex-column"
                                        id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                                        <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t
                                            }}</label>
                                        <select id="AddressProvince_{{ form.id }}" name="address[province]"
                                            data-default="{{ form.province }}"></select>
                                    </div>
                                    <div class="form-field form-group mb-15 flex flex-column">
                                        <label for="AddressZip">{{ 'customer.addresses.zip' | t }}</label>
                                        <input class="form-input form-input-placeholder" type="text" name="address[zip]"
                                            id="AddressZip_{{ form.id }}" value="{{ form.zip }}" autocapitalize="characters"
                                            placeholder="{{ 'customer.addresses.zip' | t }}">
                                    </div>
                                    <div class="form-field form-group mb-15 flex flex-column">
                                        <label for="AddressPhone">{{ 'customer.addresses.phone' | t }}</label>
                                        <input class="form-input form-input-placeholder" type="tel" name="address[phone]"
                                            id="AddressPhone_{{ form.id }}" value="{{ form.phone }}" pattern="[0-9\-]*"
                                            placeholder="{{ 'customer.addresses.phone' | t }}">
                                    </div>
                                </div>
                                <div class="mt-3 mb-20">
                                    {{ form.set_as_default_checkbox }}
                                    <label for="address_default_address_{{ form.id }}">
                                        <span class="ml-2">{{ 'customer.addresses.set_default' | t }}</span>
                                    </label>
                                </div>
                                <div class="flex flex-wrap">
                                    <button type="submit" class="btn btn-primary mr-5 mb-5">
                                        {{ 'customer.addresses.update' | t }}
                                    </button>
                                    <button type="reset"
                                        onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;"
                                        class="btn btn-secondary mb-5">
                                        {{ 'customer.addresses.cancel' | t }}
                                    </button>
                                </div>
                            </div>
                            {% endform %}
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .bls-customer__address>div[id] {
        display: none;
    }

    .bls-customer__address.active>div[id] {
        display: block;
    }
</style>
<script>
    Shopify.CustomerAddress = {
        toggleForm: function (id) {
            var edit = document.getElementById('EditAddress_' + id);
            edit.style.display = edit.style.display == 'none' ? '' : 'none';
            edit.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
            return false;
        }
    }
</script>

<script src="{{ 'customer.js' | asset_url }}" defer="defer"></script>