{{ 'page-heading.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings 
  assign se_block = section.blocks
  assign show_banner = st.show_banner
  assign image_bg = st.image
  assign show_overlay = st.show_overlay
  assign overlay = st.overlay
  assign background_heading_color = st.background_heading_color
  assign parallax = st.parallax
  assign design = st.design
  assign text_postion = st.text_postion
  if st.use_collection_image
      assign image_bg = collection.featured_image | default: image_bg
  endif
  assign min_height = st.min_height
  assign breadcrumb_color = st.breadcrumb_color
-%}
<div class="page-heading  section-full {% if background_heading_color == 'transparent' or background_heading_color == 'rgba(0,0,0,0)' or background_heading_color == '#ffffff' %}not-bg{% endif %} {% if se_block == blank %}not-info{% endif %} {% if show_banner != blank and image_bg != blank %}show-banner{% endif %}" style="--background-heading-color: {{ background_heading_color }}; --breadcrumb-color:{{ breadcrumb_color }};">
    {%- capture style -%}
      --background-image:{% if show_banner != blank and image_bg != blank %}url({{ image_bg | image_url }}){% endif %};
      --min-height:{{ min_height }}px;
      --overlay-image:{{ overlay }}%;
    {%- endcapture -%}
    {%- if se_block.size > 0 -%}
    <div class="page-head {{ text_postion }} {% if design != 'text-overlay-image' %} beside-image d-flex flex-column{% endif %}">
      {%- if show_banner != blank and image_bg != blank -%}
        {%- if design == 'text-overlay-image' -%}
          <div class="relative d-flex flex-column justify-content-center heading-banner{% if parallax %} bls-parallax{% endif %}{% if show_overlay %} show-overlay{% endif %}" style="{{ style }}">
          {%- else -%}
            <div class="relative mb-20 heading-banner{% if parallax %} bls-parallax{% endif %}{% if show_overlay %} show-overlay{% endif %}" style="{{ style }}"></div>
          {%- endif -%}
        {%- endif -%} 
        <div class="{{ st.layout }}">
          <div class="heading-content relative">
            {%- assign blocks = section.blocks -%}
            {%- for block in blocks -%}
              {%- case block.type -%}
                {%- when '1' -%}
                  <h1 class="heading-title" style="--text-cl: {{ block.settings.text_cl }};--text-fs: {{ block.settings.text_fs }}px;">{{ collection.title }}
                  </h1>
                {%- when '2' -%}
                  <div class="heading-description" style="--des-text-fs: {{ block.settings.des_text_fs }}px;--des-text-cl: {{ block.settings.des_text_cl }};">{{ collection.description }}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
          {%- render 'breadcrumbs' -%}
        </div>
        {%- if show_banner != blank and image_bg != blank -%}
          {%- if design == 'text-overlay-image' -%}
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>
    {%- else -%}
    <div class="not-show-heading page-head {{ text_postion }} {% if design != 'text-overlay-image' %} beside-image d-flex flex-column{% endif %}">
      {%- if show_banner != blank and image_bg != blank -%}
        {%- if design == 'text-overlay-image' -%}
          <div class="relative d-flex flex-column justify-content-center py-25  heading-banner{% if parallax %} bls-parallax{% endif %}{% if show_overlay %} show-overlay{% endif %}" style="{{ style }}">
          {%- else -%}
            <div class="relative mb-25 heading-banner{% if parallax %} bls-parallax{% endif %}{% if show_overlay %} show-overlay{% endif %}" style="{{ style }}"></div>
          {%- endif -%}
        {%- endif -%}
        <div class="{{ st.layout }}">
          {%- render 'breadcrumbs' -%}
        </div>
        {%- if show_banner != blank and image_bg != blank -%}
          {%- if design == 'text-overlay-image' -%}
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>
    {%- endif -%}
</div>
{%- schema -%} 
  {
    "name": "Page heading",
    "class": "bls_page_section_heading_collection",
    "max_blocks": 2,
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "container",
        "options": [
          {
            "value": "container",
            "label": "Default"
          }, {
            "value": "container-fluid",
            "label": "Fluid container"
          }, {
            "value": "full-width",
            "label": "Full width"
          }
        ]
      },
      {
        "type": "color",
        "id": "background_heading_color",
        "label": "Background color",
        "default": "transparent"
      },
      {
        "type": "color",
        "id": "breadcrumb_color",
        "label": "Breadcrumb color",
        "default": "#111111"
      },
      {
        "type": "header",
        "content": "Images banner"
      },
      {
        "type": "checkbox",
        "id": "show_banner",
        "label": "Show banner",
        "default": false
      }, {
        "type": "checkbox",
        "id": "use_collection_image",
        "label": "Use collection image",
        "info": "Use collection featured image",
        "default": false
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      }, {
        "type": "range",
        "id": "min_height",
        "label": "Banner image min height",
        "default": 200,
        "min": 0,
        "max": 500,
        "step": 5,
        "unit": "px"
      }, {
        "type": "checkbox",
        "id": "parallax",
        "label": "Show parallax banner",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_overlay",
        "label": "Show background overlay",
        "default": false
      }, {
        "type": "range",
        "id": "overlay",
        "label": "Background overlay",
        "default": 54,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      }, {
        "type": "header",
        "content": "Design"
      }, {
        "type": "select",
        "id": "design",
        "label": "Design text",
        "default": "text-overlay-image",
        "options": [
          {
            "label": "Overlay image",
            "value": "text-overlay-image"
          }, {
            "label": "Bellow image",
            "value": "text-bellow-image"
          }
        ]
      }, {
        "type": "select",
        "id": "text_postion",
        "label": "Text postion",
        "default": "text-center",
        "options": [
          {
            "label": "Center",
            "value": "text-center"
          }, {
            "label": "Left",
            "value": "text-left"
          }, {
            "label": "Right",
            "value": "text-right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "1",
        "name": "Title",
        "limit": 1,
        "settings": [
          {
            "type": "color",
            "id": "text_cl",
            "label": "Color text",
            "default": "#111111"
          }, {
            "type": "range",
            "id": "text_fs",
            "label": "Font size",
            "max": 60,
            "min": 30,
            "step": 1,
            "unit": "px",
            "default": 45
          }
        ]
      }, {
        "type": "2",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "color",
            "id": "des_text_cl",
            "label": "Color text",
            "default": "#555555"
          }, {
            "type": "range",
            "id": "des_text_fs",
            "label": "Font size",
            "max": 24,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 16
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "1"
        }
      ]
    }
  }
{%- endschema -%}
