{{ 'custormer.css' | asset_url | stylesheet_tag }}
<div class="container">
  <div class="customer-form reset-password col-md-6 col-sm-8 m-auto">
    {% form 'reset_customer_password' %}
    {%- if form.errors -%}
            <ul class="error">
              {%- for field in form.errors -%}
                  <li>
                      {%- if field == 'form' -%}
                          {{ form.errors.messages[field] }}
                      {%- else -%}
                        <a href="#RegisterForm-{{ field }}" class="link link-underline">
                          <span class="text">
                              {{ form.errors.translated_fields[field] | capitalize }}
                              {{ form.errors.messages[field] }}
                          </span>
                        </a>
                      {%- endif -%}
                  </li>
              {%- endfor -%}
          </ul>
        {% endif %}
      <div class="password form-group mb-20 d-flex flex-column ">
        <label class="form-label pb-5" for="password">{{ 'customer.reset_password.password' | t }}<span class="required">*</span></label>
        <input type="password" name="customer[password]">
      </div>

      <div class="password_confirm form-group mb-20 d-flex flex-column ">
        <label class="form-label pb-5" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}<span class="required">*</span> </label>
        <input type="password" name="customer[password_confirmation]">
      </div>

      <div class="submit mt-30">
        <input class="btn-primary w-full text-center" type="submit" value="{{ 'customer.reset_password.submit' | t }}">
      </div>
    {% endform %}
  </div>
</div>