{{ 'custormer.css' | asset_url | stylesheet_tag }}
<div class="customer-forgot" id="recover">
  <div class="container">
    <div class="row row-cols-md-2">
      <div class="recover-form customer-form mb-40">
        <h3 class="title-customer">{{ 'customer.recover_password.title' | t }}</h3>
        <p class="subtext mb-20">
            {{ 'customer.recover_password.subtext' | t }}
        </p>
        {%- form 'recover_customer_password' -%}
          {%- assign recover_success = form.posted_successfully? -%}
          {%- if form.errors -%}
            {%- assign message = form.errors | default_errors | strip_html -%}
              <p class="error">
                  {{ message }}
              </p>
            {%- endif -%}
            <div class="form-field form-group  mb-15 d-flex flex-column">
                <label class="form-label mb-3" for="RecoverEmail">
                    {{ 'customer.recover_password.email' | t }}
                    <span class="required">*</span>
                </label>
                <input
                    type="email"
                    value=""
                    name="email"
                    id="RecoverEmail"
                    autocomplete="email"
                    autocorrect="off"
                    autocapitalize="off"
                    placeholder="{{ 'customer.login_page.placeholder_email' | t }}"
                    aria-required="true"
                    aria-invalid="true"
                    required
                >
            </div>
            <div class="form-actions mt-30">
                <input type="submit" class="btn-primary w-full text-center" value="{{ 'customer.recover_password.submit' | t }}">
            </div>
        {%- endform -%}
      </div>
      <div class="content-register mb-40">
        <h3 class="title-customer">
          {{ 'customer.register.title_content' | t }}
        </h3>
        <p class="mb-30">
          {{ 'customer.register.content' | t }}
        </p>
        <a href="/account/register" class="btn btn-primary w-full text-center">{{ 'customer.register.submit' | t }}</a>
      </div>
    </div>
  </div>
</div>
<div class="customer-login">
  <div class="container">
    <div class="row row-cols-md-2">
      <div class="login-form customer-form">
        <h3 class="title-customer">
          {{ 'customer.login_page.title' | t }}
        </h3>
        {%- if recover_success == true -%}
          <p class="success">{{ 'customer.recover_password.success' | t }}</p>
        {%- endif -%}
        {%- form 'customer_login', class: 'customer-login-form' -%}
            {%- if form.errors -%}
                {%- assign message = form.errors.messages['form'] -%}
                  <p class="error">
                      {{ message }}
                  </p>
            {%- endif -%}
            <div class="form-group mb-15 d-flex flex-column  form-field">
                <label class="form-label mb-3" for="CustomerEmail">
                    {{ 'customer.login_page.email' | t }}
                    <span class="required">*</span>
                </label>
                <input
                    type="email"
                    name="customer[email]"
                    id="CustomerEmail"
                    placeholder="{{ 'customer.login_page.placeholder_email' | t }}"
                    required
                >
            </div>
            {%- if form.password_needed -%}
                <div class="form-group mb-20 d-flex flex-column  form-field">
                    <label class="form-label mb-3" for="CustomerPassword">
                        {{ 'customer.login_page.password' | t }}
                        <span class="required">*</span>
                    </label>
                    <input
                        type="password"
                        name="customer[password]"
                        id="CustomerPassword"
                        placeholder="{{ 'customer.login_page.placeholder_pass' | t }}"
                        required
                    >
                </div>
            {%- endif -%}
            <div class="form-actions mt-20 d-flex flex-column">
              <a href="#recover" class="forget-password">
                <span class="text">{{ 'customer.login_page.forgot_password' | t }}</span>
              </a>
              <input type="submit" class="btn-primary mt-30" value="{{ 'customer.login_page.submit' | t }}">
                
            </div>
        {%- endform -%}
      </div>
      <div class="content-register">
        <h3 class="title-customer">
          {{ 'customer.register.title_content' | t }}
        </h3>
        <p class="mb-30">
          {{ 'customer.register.content' | t }}
        </p>
        <a href="/account/register" class="btn btn-primary w-full text-center">{{ 'customer.register.submit' | t }}</a>
      </div>
    </div>
  </div>
</div>