{{ 'blog-template.css' | asset_url | stylesheet_tag }}
{{ 'blog-item.css' | asset_url | stylesheet_tag }}

{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pageUrl = contentForQuerystring
  | split: '"pageurl":"'
  | last
  | split: '"'
  | first
  | split: request.host
  | last
  | replace: '\/', '/'
  | replace: '%20', ' '
  | replace: '\u0026', '&'
-%}
{%- assign pageQuerystring = pageUrl | split: '?' | last -%}
{%- liquid
  assign st = section.settings
  assign se_block = section.blocks
  assign enable_sidebar = st.enable_sidebar
  assign sidebar_ps = st.sidebar_position
  assign show_author = st.post_show_author
  assign show_category = st.post_show_category
  assign show_date = st.post_show_date
  assign show_excerpt = st.post_show_excerpt
  assign show_readmore = st.post_show_button
  assign aspect_ratio = st.aspect_ratio
  assign custom_ratio = st.custom_ratio
  assign hover_effect = st.hover_effect
  assign items_per_row = st.items_per_row
  assign column_gap = st.column_gap
  assign layout = st.layout
  assign pagination = st.pagination

  if pageQuerystring contains 'column='
    assign column = pageQuerystring | split: 'column=' | last | split: '&' | first
    if column == '1' or column == '2' or column == '3' or column == '4'
      assign items_per_row = column | times: 1
    endif
  endif
  if pageQuerystring contains 'layout='
    assign layout_pra = pageQuerystring | split: 'layout=' | last | split: '&' | first
    if layout_pra == 'list' or layout_pra == 'grid'
      assign layout = layout_pra
    endif
  endif
  if pageQuerystring contains 'sidebar='
    assign sidebar = pageQuerystring | split: 'sidebar=' | last | split: '&' | first
    if sidebar == 'left_sidebar' or sidebar == 'right_sidebar' or sidebar == 'no_sidebar'
      assign enable_sidebar = true
      assign sidebar_ps = sidebar
    endif
  endif
  if pageQuerystring contains 'pagination='
    assign pagination_pr = pageQuerystring | split: 'pagination=' | last | split: '&' | first
    if pagination_pr == 'default' or pagination_pr == 'load_more' or pagination_pr == 'infinit_scrolling'
      assign pagination = pagination_pr
    endif
  endif
  assign blog_column = ''
  if items_per_row == 1
    assign blog_column = 'row-cols-1'
  elsif items_per_row == 2
    assign blog_column = 'row-cols-1 row-cols-sm-2'
  elsif items_per_row == 3
    assign blog_column = 'row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3'
  elsif items_per_row == 4
    assign blog_column = 'row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4'
  endif
-%}
<script src="{{ 'blog.js' | asset_url }}" defer="defer"></script>
<div class="section-{{ section.id }} section-blog" data-section-id="{{ section.id }}">
  <div class="{{ st.container }}">
    <div class="row">
      {%- if sidebar_ps == 'left_sidebar' -%}
        <div class="{{ sidebar_ps }}">
          {%- render 'blog-sidebar', st: st, se_block: se_block -%}
        </div>
      {%- endif -%}
      <div
        id="bls__blog-container"
        class="flex-1 {% if layout == 'grid' %}grid blog-grid{% else %}list blog-list{% endif %}"
      >
        <div class="blog-grid-container">
          {%- if blog.articles.size > 0 -%}
            {%- paginate blog.articles by section.settings.max_articles -%}
              <div class="main-blog page-width section-{{ section.id }}-padding">
                <div
                  id="bls__blog-articles"
                  class="bls__blog-articles {% if layout == 'grid' %}row {{ blog_column }}{% endif %}"
                  style="--bs-gutter-x: {{ column_gap }}px;"
                >
                  {%- for article in blog.articles -%}
                    {%- render 'article-card',
                      article: article,
                      show_category: show_category,
                      show_date: show_date,
                      show_excerpt: show_excerpt,
                      show_readmore: show_readmore,
                      show_author: show_author,
                      aspect_ratio: aspect_ratio,
                      custom_ratio: custom_ratio,
                      hover_effect: hover_effect,
                      column_gap: column_gap,
                      layout: layout
                    -%}
                  {%- endfor -%}
                </div>
                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate, st: st, anchor: '', pagination: pagination, %}
                {%- endif -%}
              </div>
            {%- endpaginate -%}
          {%- else -%}
            <p>{{ 'blogs.article.empty' | t }}</p>
          {%- endif -%}
        </div>
      </div>
      {%- if sidebar_ps == 'right_sidebar' -%}
        <div class="{{ sidebar_ps }}">
          {% render 'blog-sidebar', st: st, se_block: se_block %}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "list",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        }
      ]
    },
    {
      "type": "range",
      "id": "max_articles",
      "min": 1,
      "max": 24,
      "step": 1,
      "label": "Maximum articles to show",
      "default": 12
    },
    {
      "type": "range",
      "id": "items_per_row",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Number of columns (grid layout)",
      "default": 4
    },
    {
      "type": "range",
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 5,
      "default": 30,
      "label": "Column gap",
      "id": "column_gap"
    },
    {
      "type": "select",
      "id": "pagination",
      "label": "Pagination",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "load_more",
          "label": "Load more"
        },
        {
          "value": "infinit_scrolling",
          "label": "Infinit scrolling"
        }
      ]
    },
    {
      "type": "select",
      "id": "sidebar_position",
      "label": "Sidebar position",
      "default": "left_sidebar",
      "options": [
        {
          "value": "left_sidebar",
          "label": "Left sidebar"
        },
        {
          "value": "right_sidebar",
          "label": "Right sidebar"
        },
        {
          "value": "no_sidebar",
          "label": "No sidebar"
        }
      ]
    },
    {
      "type": "header",
      "content": "Posts settings"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio",
      "default": "original",
      "options": [
        {
          "value": "original",
          "label": "Original aspect ratio"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ]
    },
    {
      "type": "text",
      "id": "custom_ratio",
      "label": "Custom ratio",
      "default": "21:9"
    },
    {
      "type": "select",
      "id": "hover_effect",
      "label": "Hover effect",
      "default": "zoom",
      "options": [
        {
          "value": "zoom",
          "label": "Zoom"
        },
        {
          "value": "translate-to-top",
          "label": "Translate to top"
        },
        {
          "value": "translate-to-bottom",
          "label": "Translate to bottom"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "post_show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "post_show_category",
      "label": "Show category",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "post_show_date",
      "label": "Show publised date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "post_show_excerpt",
      "label": "Show excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "post_show_button",
      "label": "Show read more",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "categories",
      "name": "Categories",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Blog Category"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select Menu"
        }
      ]
    },
    {
      "type": "tags",
      "name": "Tags",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Tags"
        }
      ]
    },
    {
      "type": "recent_post",
      "name": "Recent post",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Recent Post"
        },
        {
          "type": "range",
          "id": "maximum",
          "label": "Maximum to show",
          "min": 1,
          "max": 8,
          "step": 1,
          "default": 3
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "Aspect ratio",
          "default": "original",
          "options": [
            {
              "value": "original",
              "label": "Original aspect ratio"
            },
            {
              "value": "16/9",
              "label": "16:9"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "1/1",
              "label": "1:1"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ]
        },
        {
          "type": "text",
          "id": "custom_ratio",
          "label": "Custom ratio",
          "default": "21:9"
        }
      ]
    },
    {
      "type": "image_banner",
      "name": "Image Banner",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Banner",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
