{%- liquid
  assign st = section.settings
  assign th_st = settings
  assign mail = th_st.store_email
  assign phone = th_st.store_phone
  assign address = th_st.store_address
  assign gg_map = st.iframe
  assign show_map = st.show_map
  assign container = st.container
  assign contact_form_heading = st.contact_form_heading
  assign contact_form_sub_heading = st.contact_form_sub_heading
  assign contact_info_heading = st.contact_info_heading
  assign contact_info_sub_heading = st.contact_info_sub_heading
  assign contact_info_content = st.contact_info_content
-%}

<section class="bls__section bls__contact-page">
  <div class="{{ container }}">
    <div class="page-content">
      {%- if show_map != false -%}
        <div class="contact-map mb-40">
          {{ gg_map }}
        </div>
      {%- endif -%}
      <div class="row">
        <div class="col-lg-8 mb-40">
          <div class="contact-header mb-25">
            <h3 class="fw-400 m-0">{{ contact_form_heading }}</h3>
            <p>{{ contact_form_sub_heading }}</p>
          </div>
          <div class="contact-form">
            {% form 'contact' %}
              {% if form.posted_successfully? %}
                <p class="success">
                  {{ 'templates.contact.form.page_contact_successs' | t }}
                </p>
              {% else %}
                {{ form.errors | default_errors }}
              {% endif %}
              <div class="form-field form-group row row-cols-md-2" style="--bs-gutter-x: 2rem">
                <div class="field-contact-name">
                  <input
                    type="text"
                    class="form-input form-input-placeholder w-full"
                    name="contact[name]"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    id="inputName"
                    placeholder="Your name"
                  >
                </div>
                <div class="field-contact-email">
                  <input
                    type="email"
                    class="form-input form-input-placeholder w-full"
                    class=""
                    name="contact[email]"
                    required
                    autocorrect="off"
                    autocapitalize="off"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    id="inputEmail"
                    placeholder="Your email"
                  >
                </div>
              </div>
              <div class="form-field form-group">
                <textarea
                  name="contact[body]"
                  class="form-input form-input-placeholder w-full"
                  id="message"
                  rows="8"
                  placeholder="Enter please your message"
                ></textarea>
              </div>
              <div class="save-info mt-20 flex ">
                <div class="checkbox-group relative">
                  <input
                    type="checkbox"
                    class="input m-0 opacity-0 absolute inset-0 pointer inset-0"
                    name="contact[saveInfo]"
                    id="save-info"
                  >
                  <span class="checkmark"></span>
                </div>
                <label for="save-info" class="pointer">{{ 'templates.contact.form.save_info' | t }}</label>
              </div>
              <div class="form-actions mt-30">
                <input type="submit" class="button btn btn-primary" value="Send Message">
              </div>
            {% endform %}
          </div>
        </div>
        <div class="col-lg-4 mb-0-important">
          <div class="contact-header">
            <h3 class="fw-400 m-0">{{ contact_info_heading }}</h3>
            <p>{{ contact_info_sub_heading }}</p>
          </div>
          <div class="contact-info-content mt-30">
            <div class="info-address">{{ address }}</div>
            <div class="info-mail mb-15">{{ mail }}</div>
            <div class="info-phone">
              <h4 class="mb-15">{{ phone }}</h4>
            </div>
            {{ contact_info_content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%- schema -%}
{
  "name": "Contact page",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "header",
      "content": "Maps"
    },
    {
      "type": "textarea",
      "id": "iframe",
      "label": "Google map iframe",
      "default": "<iframe src=\"https:\/\/www.google.com\/maps\/embed?pb=!1m18!1m12!1m3!1d3154.8939060848147!2d144.81158271584684!3d-37.74563313792195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65fa6debeb781%3A0xe1d23f5d1759961e!2s184%20Main%20Rd%20E%2C%20St%20Albans%20VIC%203021%2C%20%C3%9Ac!5e0!3m2!1svi!2s!4v1618277125252!5m2!1svi!2s\" width=\"100%\" height=\"500\" style=\"border:0;\" allowfullscreen=\"\" loading=\"lazy\"><\/iframe>"
    },
    {
      "type": "checkbox",
      "id": "show_map",
      "label": "Show google map",
      "default": true
    },
    {
      "type": "header",
      "content": "Contact form"
    },
    {
      "type": "text",
      "id": "contact_form_heading",
      "label": "Heading",
      "default": "Get in Touch"
    },
    {
      "type": "richtext",
      "id": "contact_form_sub_heading",
      "label": "Sub heading",
      "default": "<p>We'd love to hear from you about our entire service. Your comments and suggestions will be highly appreciated. Please complete the form below.</p>"
    },
    {
      "type": "header",
      "content": "Contact form info"
    },
    {
      "type": "text",
      "id": "contact_info_heading",
      "label": "Heading",
      "default": "Here to Help"
    },
    {
      "type": "richtext",
      "id": "contact_info_sub_heading",
      "label": "Sub heading",
      "default": "<p>Have a question? You may find an answer in our FAQs. But you can also contact us:</p>"
    },
    {
      "type": "richtext",
      "id": "contact_info_content",
      "label": "Content",
      "default": "<p>Opening Hours: Everyday 9:00 am - 6:00 pm</p>"
    }
  ]
}
{%- endschema -%}
