{%- liquid
  assign st = section.settings
  assign container = st.container
  assign image = st.image
  assign heading = st.heading
  assign sub_heading = st.sub_heading
  assign label = st.label
  assign link = st.link
  assign custom_width = st.custom_width
-%}

<section class="bls__section bls__404-page">
  <div class="{{ container }}">
    <div class="page-404-content text-center">
      <div class="image-404 mb-30">
        {%- if image != blank -%}
          <img src="{{ image | image_url }}" width="{{ custom_width }}" alt="">
        {%- else -%}
          {%- render 'icon-404' -%}
        {%- endif -%}
      </div>
      {%- if heading != blank or sub_heading != blank -%}
        <div class="bls__section-header">
          {%- if heading != blank -%}
            <h2 class="bls__section-heading mb-5">{{ heading }}</h2>
          {%- endif -%}
          {%- if sub_heading != blank -%}
            <div class="bls__section-des">
              {{ sub_heading }}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <a
        href="{%- if link != blank -%}{{ link }}{%- else -%}{{ routes.root_url }}{%- endif -%}"
        class="btn btn-primary"
      >
        {{- label -}}
      </a>
    </div>
  </div>
</section>
{%- schema -%}
{
  "name": "404 page",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "*Choose image type png"
    },
    {
      "type": "text",
      "id": "custom_width",
      "label": "Custom width",
      "default": "440"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Oops...That link is broken."
    },
    {
      "type": "textarea",
      "id": "sub_heading",
      "label": "Sub heading",
      "default": "Sorry for the inconvenience. Go to our homepage or check out our latest collections."
    },
    {
      "type": "text",
      "id": "label",
      "label": "Label button",
      "default": "Back to homepage"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link button"
    }
  ]
}
{%- endschema -%}
