{{ 'product.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign th_st = settings
  assign product_style = th_st.product_style
  assign st = section.settings
  assign container = st.container
  assign bg_color = st.product_rv_background_color
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign item_desktop = st.item_desktop
  assign carousel_autoplay = st.carousel_autoplay
  assign carousel_loop = st.carousel_loop
  assign carousel_arrows = st.carousel_arrows
  assign carousel_bullets = st.carousel_bullets
  assign column_gap = st.column_gap
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif

  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif
  assign has_bg = ''
  if bg_color != blank
    assign has_bg = ' has-bg'
  endif
-%}
{%- capture style -%}
  {%- if bg_color != blank -%}
    --section-bg-color: {{ bg_color }};
  {%- endif -%}
  --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px;--bls-gutter-x:
  {{ column_gap }}px;
{%- endcapture -%}
<section
  class="bls__section {{has_bg}}{{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spt_mobile }} bls__product bls__product-recently-viewed-section{{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
  id="{{ section.id }}"
  data-id="{{ section.id }}"
  data-type="recently_viewed_products"
>
  <div class="{{ container }}">
    {%- if heading != blank or description != blank -%}
      <div class="bls__section-header {{ text_align }}">
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5">{{ heading }}</h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des">
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="bls__product-recently-viewed {{ product_style }}">
      <div
        class="swiper bls__swiper grid-{{ product_style }} hover__show-nav"
        id="bls__swiper-{{ section.id }}"
        data-section-id="{{ section.id }}"
        data-autoplay="{{ carousel_autoplay }}"
        data-loop="{{ carousel_loop }}"
        data-mobile="2"
        data-tablet="3"
        data-desktop="{{ item_desktop }}"
        data-spacing="{{ column_gap }}"
      >
        <div class="swiper-wrapper" style="--perload-gap: {{ column_gap }}px">
          {%- if search.results != blank -%}
            {%- for item in search.results -%}
              {%- render 'product-item' | product: item -%}
            {%- endfor -%}
          {%- endif -%}
        </div>
        {%- render 'swiper-control', show_bullet: carousel_bullets, show_arrow: carousel_arrows -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Products recently viewed",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Recently viewed products"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>The best quality products are waiting for you. Choose it now!</p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "color",
      "id": "product_rv_background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Product setttings"
    },
    {
      "type": "range",
      "id": "limit_products",
      "label": "Products to show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "item_desktop",
      "label": "Items per row (Desktop)",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "Products gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 30
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "checkbox",
      "id": "carousel_autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_loop",
      "label": "Infinity",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_arrows",
      "label": "Show arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_bullets",
      "label": "Show bullets",
      "default": false
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Products recently viewed"
    }
  ]
}
{% endschema %}
