{%- liquid
  assign th_st = settings
  assign product_name_t_transfrom = th_st.product_name_t_transfrom
  assign product_name_line = th_st.product_name_line
-%}
<div class="bls__bought-together">
  <div class="content-bought-together">
    <h3 class="bought-together-heading capitalize fs-24 mb-15">{{ 'products.product.bought_together.text' | t }}</h3>
    <div class="bought-together-container d-flex">
      <div class="products-wrapper overflow-hidden">
        <div class="sf-prod__block">
          <form
            method="post"
            action="/cart/add"
            accept-charset="UTF-8"
            id="bls__bought-together-form"
            enctype="multipart/form-data"
            novalidate="novalidate"
            data-type="add-to-cart-form"
          >
            <input type="hidden" name="form_type" value="product">
            <input type="hidden" name="utf8" value="✓">
            <div class="product-bought-together-list d-flex overflow-x-auto py-5">
              {%- if search.results != blank -%}
                {%- assign array = search.terms | remove: 'id:' | split: ' OR ' -%}
                {%- for i in array -%}
                  {%- assign j = i | plus: 0 -%}
                  {%- assign item = search.results | where: 'id', j -%}
                  {%- liquid
                    assign product = item[0]
                    assign product_qty = 0
                    assign prod = product.variants
                    for variant in prod
                      assign product_qty = product_qty | plus: variant.inventory_quantity
                    endfor
                    if product_qty < 1
                      continue
                    endif
                  -%}
                  <div class="product-bought-together-item{% if forloop.first == true %} main-product{% endif %} select">
                    <div class="product-image mb-0 mb-md-15 mr-15 mr-md-0">
                      {%- liquid
                        assign current_variant = product.selected_or_first_available_variant
                        assign image = current_variant.featured_image | default: product.featured_image
                      -%}
                      <a class="bls__img-url" href="{{ product.url | within: collection }}">
                        <div class="main-image">
                          {%- render 'responsive-image' | image: image | type: 'product' | cls: 'bls__product-grid bls__product-img-sw' -%}
                        </div>
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="heading-color fw-400 fs-16">
                        <a
                          class="limited-line {{ product_name_t_transfrom }}"
                          style="--line-clamp: {{ product_name_line }}"
                          href="{{ product.url | within: collection }}"
                        >
                          {{ product.title }}
                        </a>
                      </div>
                      <div class="price info-price heading-weight fs-14">
                        {%- render 'price', product: product, use_variant: true, price_class: 'price--large' -%}
                      </div>
                      <div class="variant-select mt-5">
                        <label class="product-item-checkbox checkbox-group relative mt-5">
                          <input
                            type="checkbox"
                            class="bought-together-checkbox hidden input m-0 opacity-0 absolute inset-0 pointer inset-0"
                            data-product-handle="jacket-denim-blouse"
                            checked
                          >
                          <span class="checkbought"></span>
                        </label>
                        {%- if product.variants.size > 1 -%}
                          <select
                            name="items[][id]"
                            class="product-variant-option mt-5"
                            data-compare-price="{{ product.compare_at_price | default: product.price }}"
                            data-price="{{ product.price }}"
                          >
                            {% for variant in product.variants %}
                              {%- liquid
                                assign selected = false
                                if variant.inventory_quantity < 1
                                  continue
                                endif
                              -%}
                              {%- if variant.id == product.selected_or_first_available_variant.id -%}
                                {% assign selected = true %}
                              {%- endif -%}
                              <option
                                value="{{ variant.id }}"
                                {% if selected %}
                                  selected="true"
                                {% endif %}
                                data-image="{{ variant.featured_image | default: image | image_url }}"
                                data-compare-price="{{ variant.compare_at_price | default: variant.price }}"
                                data-price="{{ variant.price }}"
                              >
                                {{ variant.title }}
                              </option>
                            {% endfor %}
                          </select>
                        {%- else -%}
                          <input
                            type="hidden"
                            class="product-variant-option mt-5"
                            name="items[][id]"
                            value="{{ product.selected_or_first_available_variant.id }}"
                            data-compare-price="{{ product.compare_at_price | default: product.price }}"
                            data-price="{{ product.price }}"
                          >
                        {%- endif -%}
                        <input type="hidden" name="items[][quantity]" class="quantity" value="1">
                      </div>
                    </div>
                  </div>
                  {%- unless forloop.last -%}
                    <div class="icon-plus d-flex align-items-center mx-10 fs-20"></div>
                  {%- endunless -%}
                {%- endfor -%}
              {%- endif -%}
            </div>
          </form>
        </div>
      </div>
      <div class="flex-1 box-total">
        <div class="total-product px-30 py-20 text-center">
          {%- liquid
            assign price = 0
            assign compare_at_price = 0
          -%}
          {%- for product in search.results -%}
            {%- liquid
              assign current_variant = product.selected_or_first_available_variant
              assign price = current_variant.price | plus: price
              assign compare_at_price = current_variant.compare_at_price | default: current_variant.price | plus: compare_at_price
            -%}
          {%- endfor -%}
          <div class="bls__total-price{% if compare_at_price > price %} price--on-sale{% endif %}">
            <h5 class="fs-16 m-0">{{ 'products.product.bought_together.total' | t }}:</h5>
            <span class="price__sale">
              <s class="price-item compare-price fs-16 grey-color">
                {% if settings.currency_code_enabled %}
                  {{ compare_at_price | money_with_currency }}
                {% else %}
                  {{ compare_at_price | money }}
                {% endif %}
              </s>
            </span>
            <span class="price{%- if compare_at_price > price %} special-price{% endif -%}">
              {% if settings.currency_code_enabled %}
                {{ price | money_with_currency }}
              {% else %}
                {{ price | money }}
              {% endif %}
            </span>
          </div>
          <button class="mt-15 product-form__submit bought-together-submit whitespace-nowrap relative">
            <span>{{ 'products.product.bought_together.add_cart' | t }}</span>
            <span class="loader-icon"></span>
          </button>
          <div class="mt-20 saved-price{% if compare_at_price > price %} d-block{% else %} d-none{% endif %}">
            <span class="lable">{{ 'products.product.bought_together.save' | t }}:</span>
            <span class="price">
              {% if compare_at_price > price %}
                {% if settings.currency_code_enabled %}
                  {{ compare_at_price | minus: price | money_with_currency }}
                {% else %}
                  {{ compare_at_price | minus: price | money }}
                {% endif %}
              {% else %}
                {{ 0 | money }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
