{{ 'product.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings
  assign container = st.container
  assign bg_color = st.product_list_background_color
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign custom_width = st.custom_width
  assign custom_column = st.custom_column
  assign column_gap = st.column_gap
  assign limit_products_desktop = st.limit_products_desktop

  assign column_gap_tablet = ''
  if column_gap > 30
    assign column_gap_tablet = ' gap-tablet'
  endif
  assign column_gap_mobile = ''
  if column_gap > 15
    assign column_gap_mobile = ' gap-mobile'
  endif

  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif

  assign has_bg = ''
  if bg_color != blank
    assign has_bg = ' has-bg'
  endif
-%}
{%- capture style -%}
  {%- if bg_color != blank -%}
    --section-bg-color: {{ bg_color }};
  {%- endif -%}
  --bls-gutter-x: {{ column_gap }}px;
{%- endcapture -%}
<section
  class="bls__section bls__product bls__product_list{{ reset_spacing }} {{ has_bg }}"
  style="{{ style | strip | strip_newlines }}"
  id="{{ section.id }}"
  data-id="{{ section.id }}"
>
  <div class="{{ container }}">
    {%- if heading != blank or description != blank -%}
      <div class="bls__section-header {{ text_align }}">
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5">{{ heading }}</h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des">
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div
      class="row row-cols-xl-{{ custom_column }}{{ column_gap_tablet }}{{ column_gap_mobile }}"
      style="--bs-gutter-x: {{ column_gap }}px;"
    >
      {%- for block in section.blocks limit: section.blocks.size -%}
        <div class="col-sm-6">
          {%- assign collection = collections[block.settings.collection] -%}
          <h4>{{ block.settings.column_name }}</h4>
          <div id="{{ block.id }}">
            {%- for product in collection.products limit: limit_products_desktop -%}
              {%- assign sold_out = true -%}
              {%- if product.available -%}{%- assign sold_out = false -%}{%- endif -%}
              <div class="bls__product-item flex flex-nowrap mb-20 last-0">
                <div class="bls__product-img overflow-hidden relative col-3 mr-15">
                  <a href="{{ product.url | within: collection }}">
                    {%- if product.featured_image != blank -%}
                      {%- render 'responsive-image' | image: product.featured_image | type: 'product' -%}
                    {%- else -%}
                      {%- render 'placeholder-render' | type: 'product' | cls: 'bls__product-list-plh' -%}
                    {%- endif -%}
                  </a>
                </div>
                <div class="bls__product-details flex-1">
                  <h3 class="bls__product-name regular mb-5">
                    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                  </h3>
                  <div class="bls__product-price mb-7">
                    {%- render 'price', product: product, use_variant: true, price_class: 'price--large' -%}
                  </div>
                  {%- if sold_out -%}
                    <div>{{ 'products.product.sold_out' | t }}</div>
                  {%- endif -%}
                </div>
              </div>
            {%- else -%}
              {%- for i in (1..limit_products_desktop) -%}
                <div class="bls__product-item flex flex-nowrap mb-15">
                  <div class="bls__product-img overflow-hidden relative col-3 mr-15 border mw-100">
                    <a role="link" aria-disabled="true">
                      {%- render 'placeholder-render' | type: 'product' -%}
                    </a>
                  </div>
                  <div class="bls__product-details flex-1">
                    <a role="link" aria-disabled="true">{{ 'products.product.product_placeholder' | t }}</a>
                    <div class="bls__product-price mb-7">{%- render 'price' -%}</div>
                  </div>
                </div>
              {%- endfor -%}
            {%- endfor -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Products List",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Products List"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>The best quality products are waiting for you. Choose it now!</p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_column",
      "label": "Columns per row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "limit_products_desktop",
      "label": "Products per columns (Desktop)",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 5,
      "default": 30,
      "label": "Column gap",
      "id": "column_gap"
    },
    {
      "type": "color",
      "id": "product_list_background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "collection_column",
      "name": "Collection",
      "settings": [
        {
          "type": "textarea",
          "id": "column_name",
          "label": "Column heading",
          "default": "Products list"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products list",
      "blocks": [
        {
          "type": "collection_column",
          "settings": {
            "column_name": "Column Name"
          }
        },
        {
          "type": "collection_column",
          "settings": {
            "column_name": "Column Name"
          }
        },
        {
          "type": "collection_column",
          "settings": {
            "column_name": "Column Name"
          }
        }
      ]
    }
  ]
}
{% endschema %}
