{{ 'product.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign th_st = settings
  assign product_style = th_st.product_style
  assign st = section.settings
  assign container = st.container
  assign bg_color = st.product_recommendations_background_color
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign custom_width = st.custom_width
  assign custom_column = st.custom_column
  assign item_desktop = st.item_desktop
  assign limit_products = st.limit_products | plus: 0
  assign carousel_autoplay = st.carousel_autoplay
  assign carousel_loop = st.carousel_loop
  assign carousel_arrows = st.carousel_arrows
  assign carousel_bullets = st.carousel_bullets
  assign column_gap = st.column_gap
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
-%}
{%- capture style -%}
  {%- if bg_color != blank -%}
    --bls-bg-color: {{ bg_color }};
  {%- endif -%}
{%- endcapture -%}

<section
  class="bls__product-recommendations-section bls__section bls__product{{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
  id="{{ section.id }}"
  data-id="{{ section.id }}"
  data-type="product_recommendations"
>
  <div class="{{ container }}">
    {%- if heading != blank or description != blank -%}
      <div class="bls__section-header {{ text_align }}">
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5">{{ heading }}</h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des">
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div
      class="product-recommendations bls__grid {{ product_style }}"
      data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related"
    >
      {%- if recommendations.performed and recommendations.products_count > 0 -%}
        <div
          class="swiper bls__swiper grid-{{ product_style }} hover__show-nav"
          id="bls__swiper-{{ section.id }}"
          data-section-id="{{ section.id }}"
          data-autoplay="{{ carousel_autoplay }}"
          data-loop="{{ carousel_loop }}"
          data-mobile="2"
          data-tablet="3"
          data-desktop="{{ item_desktop }}"
          data-spacing="{{ column_gap }}"
        >
          <div class="swiper-wrapper">
            {%- for product in recommendations.products -%}
              <div class="swiper-slide bls__product-preload-js bls__rcm-product-js">
                {%- render 'product-item' | product: product -%}
              </div>
            {%- endfor -%}
          </div>
          {%- render 'swiper-control', show_bullet: carousel_bullets, show_arrow: carousel_arrows -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product recommendations",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "Dynamic recommendations use order and product information to change and improve over time. [Learn more](https:\/\/help.shopify.com\/themes\/development\/recommended-products)"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "color",
      "id": "product_recommendations_background_color",
      "label": "Background color"
    },
    {
      "type": "range",
      "id": "limit_products",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "Products to show"
    },
    {
      "type": "range",
      "id": "item_desktop",
      "label": "Items per row (Desktop)",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "Column gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 30
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "checkbox",
      "id": "carousel_autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_loop",
      "label": "Infinity",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_arrows",
      "label": "Show arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_bullets",
      "label": "Show bullets",
      "default": false
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "templates": ["product"],
  "presets": [
    {
      "name": "Product recommendations"
    }
  ]
}
{% endschema %}
