{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pageUrl = contentForQuerystring
  | split: '"pageurl":"'
  | last
  | split: '"'
  | first
  | split: request.host
  | last
  | replace: '\/', '/'
  | replace: '%20', ' '
  | replace: '\u0026', '&'
-%}
{%- assign pageQuerystring = pageUrl | split: '?' | last -%}
{%- liquid
  assign st = section.settings
  assign design = st.design
  if pageQuerystring contains 'tab_info='
    assign tab = pageQuerystring | split: 'tab_info=' | last | split: '&' | first
    if tab == 'tab' or tab == 'accordition' or tab == 'show_all'
        assign design = tab
    endif
  endif
  assign position = st.position
  if pageQuerystring contains 'position_tab='
    assign position_tab = pageQuerystring | split: 'position_tab=' | last | split: '&' | first
    if position_tab == 'default'
        assign position = '1'
    elsif position_tab == 'accordions-inner'
        assign position = '2'
    endif
  endif
-%}
{%- if section.blocks.size > 0 -%}
  <div
    class="bls__section bls__product-tabs{% if design == 'accordition' and position == '2' %} inside-product-main-infomation d-none{% endif %}"
    data-section-type="tabs"
    data-section-id="{{ section.id }}"
  >
    <div class="{{ st.layout }}">
      <div class="product info detailed design-{{design}}">
        <div class="product data items">
          {%- if design == 'tab' or design == 'accordition' -%}
            {%- if design == 'tab' -%}
              <ul class="nav nav-tabs list-none text-center pl-0 flex flex-wrap justify-content-center border-bottom mb-40 mt-0">
                {%- for block in section.blocks %}
                  {% assign bk_st = block.settings %}
                  {% assign bk_id = block.id -%}
                  <li class="data item{% if forloop.first %} active{% endif %}">
                    <a
                      class="heading-weight relative grey-color px-25 pb-12 fs-18 inline-block"
                      href="javascript:void(0)"
                      data-block-id="proTabs{{block.id}}"
                    >
                      {{- bk_st.title -}}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
            <div class="tab-content">
              {%- for block in section.blocks %}
                {% assign bk_st = block.settings %}
                {% assign bk_id = block.id -%}
                <div
                  id="proTabs{{block.id}}"
                  class="tab-item{% if forloop.first and design == 'accordition' and st.open_first_tab %} active{% endif %}{% if forloop.first and design == 'tab' %} active{% endif %}"
                >
                  <div class="data item title" id="tab-label-{{ bk_id }}">
                    <a
                      class="data accordition relative flex align-items-center"
                      href="javascript:;"
                      data-block-id="proTabs{{block.id}}"
                    >
                      <span class="txt_h_tab d-blokc w-full heading-color heading-weight">
                        {{- bk_st.title -}}
                      </span>
                      <span class="open-children-toggle"></span>
                    </a>
                  </div>
                  <div class="tab-panel" {% if forloop.first and design == 'accordition' and st.open_first_tab %} style="display: block;"{% endif %}{% if forloop.first and design == 'tab' %} style="display: block;"{% endif %}>
                    {%- case block.type -%}
                      {%- when 'description' -%}
                        {{ product.description }}
                      {%- when 'review' -%}
                        <div id="shopify-product-reviews" data-id="{{product.id}}">
                          {{ product.metafields.spr.reviews }}
                        </div>
                      {%- when 'custom_tab' -%}
                        {% assign tab_content = bk_st.tab_content %}
                        {%- case tab_content -%}
                          {%- when 'content' -%}
                            {{ bk_st.content }}
                          {%- when 'content_page' -%}
                            {%- if bk_st.page != blank -%}
                              {{ pages[bk_st.page].content }}
                            {%- endif -%}
                        {%- endcase -%}
                    {%- endcase -%}
                  </div>
                </div>
              {%- endfor -%}
            </div>
          {%- else -%}
            {%- for block in section.blocks %}
              {% assign bk_st = block.settings %}
              {% assign bk_id = block.id -%}
              <div class="tab-content-all">
                <div class="data item title" id="tab-label-{{ bk_id }}">
                  <h4 id="tab-label-{{ bk_id }}-title">
                    {{ bk_st.title }}
                  </h4>
                </div>
                <div class="tab-panel">
                  {%- case block.type -%}
                    {%- when 'description' -%}
                      {{ product.description }}
                    {%- when 'review' -%}
                      <div id="shopify-product-reviews" data-id="{{product.id}}">
                        {{ product.metafields.spr.reviews }}
                      </div>
                    {%- when 'custom_tab' -%}
                      {% assign tab_content = bk_st.tab_content %}
                      {%- case tab_content -%}
                        {%- when 'content' -%}
                          {{ bk_st.content }}
                        {%- when 'content_page' -%}
                          {%- if bk_st.page != blank -%}
                            {{ pages[bk_st.page].content }}
                          {%- endif -%}
                      {%- endcase -%}
                  {%- endcase -%}
                </div>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Product information tabs",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "select",
      "id": "design",
      "label": "Design",
      "default": "tab",
      "options": [
        {
          "value": "tab",
          "label": "Tabs"
        },
        {
          "value": "accordition",
          "label": "Accordition"
        },
        {
          "value": "show_all",
          "label": "Show open all"
        }
      ]
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position (only for accordition)",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Default"
        },
        {
          "value": "2",
          "label": "Inside Product main infomation"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "open_first_tab",
      "label": "Enable auto open first tab",
      "info": "Only working with layout 'Accordion'",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Description"
        }
      ]
    },
    {
      "type": "review",
      "name": "Review",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Review"
        }
      ]
    },
    {
      "type": "custom_tab",
      "name": "Custom tab",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Custom Tab"
        },
        {
          "type": "select",
          "id": "tab_content",
          "label": "Tab content",
          "default": "content",
          "options": [
            {
              "value": "content",
              "label": "Content"
            },
            {
              "value": "content_page",
              "label": "Content page"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content",
          "default": "<p></p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Tab content from page"
        }
      ]
    }
  ]
}
{% endschema %}
