{%- liquid
  assign container = section.settings.container
  assign show_topbar = section.settings.show_topbar
  assign bg_topbar = section.settings.background_color
  assign color_topbar = section.settings.text_color
  assign show_mobile = section.settings.show_mobile
  assign show_phone_number = section.settings.show_phone_number
  assign show_email = section.settings.show_email
  assign show_social = section.settings.show_social
  assign show_store_page = section.settings.show_store_page
  assign show_language = section.settings.show_language
  assign show_country = section.settings.show_country
  assign message = section.settings.message
  assign show_message = section.settings.show_message
  assign box_alignment = 'justify-content-center'
  if show_phone_number == blank and show_email == blank and show_social == blank
    assign box_alignment = 'justify-content-start'
  elsif show_store_page == blank and show_language == blank and show_country == blank
    assign box_alignment = 'justify-content-end'
  endif
-%}
{%- if show_topbar -%}
  <div
    class="topbar border-bottom {% if show_phone_number or show_email or show_social or show_store_page or show_language or show_country or show_message %} {% endif %} {% if show_mobile == blank %}d-none-mb{% endif %}"
    style="{%- if color_topbar != blank -%} --topbar-color: {{ color_topbar }};{%- endif -%}{%- if bg_topbar != blank -%}--topbar-bg: {{ bg_topbar }};{%- endif -%}"
  >
    <div class="topbar__section">
      <div class="{{ container }} d-flex flex-wrap justify-content-between align-items-center topbar__section-inner">
        {%- if show_phone_number or show_email or show_social -%}
          <div class="col-t col-left d-flex flex-wrap">
            {%- if show_phone_number -%}
              <a href="tel:{{ settings.store_phone }}" class="items-contact d-flex align-items-center py-5">
                <span>{{ settings.store_phone }} </span>
              </a>
            {%- endif -%}
            {%- if show_email -%}
              <a href="mailto:{{ settings.store_email }}" class="items-contact d-flex align-items-center py-5">
                <span>{{ settings.store_email }} </span>
              </a>
            {%- endif -%}
            {%- if show_social -%}
              <div class="py-5">
                {%- render 'social-media-links' -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if show_message -%}
          <div class="py-5 col-center col-t d-flex align-items-center {{ box_alignment }} {% if show_message and show_phone_number == blank and show_email == blank and show_social == blank and show_store_page == blank and show_language == blank and show_country == blank %}message-center{% endif %}">
            <div class="topbar-message px-6 align-items-center">{{ message }}</div>
          </div>
        {%- endif -%}
        {%- if show_store_page or show_language or show_country -%}
          <div class="col-t col-right d-flex align-items-center justify-content-end">
            {%- if show_store_page and settings.link_store_page and settings.label_location -%}
              <a href="{{ pages[settings.link_store_page].url | default: '#' }}" aria-label="links" class="py-5">
                <span>{{ settings.label_location }} </span>
              </a>
            {%- endif -%}
            {%- liquid
              if show_country
                render 'country-switcher'
              endif
              if show_language
                render 'language-switcher'
              endif
            -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Top bar",
  "settings": [
    {
      "type": "header",
      "content": "Setting"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_topbar",
      "label": "Show top bar",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#111111"
    },
    {
      "type": "checkbox",
      "id": "show_mobile",
      "label": "Show in mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "ADDONS"
    },
    {
      "type": "checkbox",
      "id": "show_phone_number",
      "label": "Show phone number",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_email",
      "label": "Show email",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social media links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country",
      "label": "Show country",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_language",
      "label": "Show language",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_store_page",
      "label": "Show find store page",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_message",
      "label": "Show message",
      "default": true
    },
    {
      "type": "richtext",
      "id": "message",
      "label": "Message",
      "default": "<p></p>"
    }
  ]
}
{% endschema %}
