{{ 'menu.css' | asset_url | stylesheet_tag }}
{%- liquid
    assign enable = section.settings.enable
    assign title = section.settings.title
    assign limit_show_item = section.settings.limit_show_item
    assign limit_item_screen = section.settings.limit_item_screen
    assign animation = section.settings.animation
-%}
{%- if enable != blank -%}
<div class="vertical-menu relative">
    {%- if section.blocks.size > 0 -%}
    <div class="navigation nav-sections bls__canvas-mb-menu bls__canvas-mb-left">
        <div class="close-menu-mobile">
            <a href="javascript:void(0);" class="close-menu">{{ 'main_menu.vertical.close' | t }}<i class="icon-x"></i></a>
        </div>
        <div class="mobile-menu-content">
            <div class="menu-mobile-title">
                <span>{{ title }}</span>
            </div>
            <h3 class="title-menu-dropdown d-flex align-items-center"><i class="icon-menu mr-10"></i>{{ title }}</h3>
            <div class="verticalmenu-html absolute top-100 left-0 right-0 {{ animation }}" data-limitshowitem="{{ limit_show_item }}" data-limitscreen="{{ limit_item_screen }}">
              <ul class="p-0 my-0 list-none verticalmenu-list">
                  {%- assign splits_main = 1 -%}
                  {%- for block in section.blocks -%}
                      {%- liquid
                          assign block_st = block.settings 
                          assign label = block_st.label
                          assign label_bg = label | split: 'label' | last | prepend: "label_color_"
                      -%}
                      {%- capture menuLevel0 -%}
                          {%- assign label = block_st.label -%}
                          {%- assign icon_image = block_st.icon_image -%}
                          {%- assign icon_font = block_st.icon_font -%}
                          <a class="relative d-block" href="{%- if block_st.url != blank -%}{{ block_st.url }}{%- else -%}#{%- endif -%}" {%- if block_st.open_link != blank -%} target="_blank"{%- endif -%}>
                              {%- if icon_image != blank -%}
                                  {%- liquid
                                      assign icon_width = block_st.icon_width_image
                                      assign icon_height = icon_width | divided_by: icon_image.aspect_ratio | round
                                  -%}
                                  <img loading="lazy" class="menu-thumb-icon" src="{{ icon_image | image_url: width: icon_width }}" alt="{{ block_st.title }}" width="{{ icon_width }}" height="{{ icon_height }}"/>
                              {%- elsif icon_font != blank -%}
                                  <em class="menu-thumb-icon {{ icon_font }}"></em>
                              {%- endif- %}
                              {%- if block.type == 'single_link' -%}
                                  {{ block_st.title }}
                              {%- else -%}
                                  <span>{{ block_st.title }}</span>
                              {%- endif -%}
                              {%- if label != blank -%}
                                  <span class="fw-500 px-6 d-inline-block label {{label}}" style="--navigation-bg-label:{{ section.settings[label_bg] }};">{{ section.settings[label] }}</span>
                              {%- endif -%}
                          </a>
                          {%- if block.type != 'single_link' -%}
                          <div class="open-children-toggle"></div>
                          {%- endif -%}
                      {%- endcapture -%}
                      {%- case block.type -%}
                          {%- when 'menu_item' -%}
                              {%- if block_st.title != blank -%}
                                  <li class="bls__menu-parent relative level0 parent multicolumn_dropdown menu-width-custom" {{ block.shopify_attributes }}>{{ menuLevel0 }}
                                      <div class="submenu absolute top-0 left-100" style="--submenu-custom-width:{{ block_st.custom_width }}px;--submenu-background-image:{%- if block_st.bg_image != blank -%}url({{ block_st.bg_image | image_url }}){%- endif -%};--submenu-background-repeat:{{ block_st.background_repeat }};--submenu-background-position:{{ block_st.background_position }};--submenu-background-size:{{ block_st.background_size }}">
                                          <div class="row">
                                              {%- liquid
                                                  assign banner_image_left = block_st.banner_image_left
                                                  assign col_banner_left = block_st.col_banner_left | times: 1
                                                  assign banner_image_right = block_st.banner_image_right
                                                  assign col_banner_right = block_st.col_banner_right | times: 1
                                                  assign col_menu = 12
                                                  if banner_image_left != blank
                                                      assign col_menu = col_menu | minus: col_banner_left
                                                      if col_menu == 0
                                                          assign col_menu = 12
                                                      endif
                                                  endif
                                                  if banner_image_right != blank and col_banner_right < col_menu
                                                      assign col_menu = col_menu | minus: col_banner_right
                                                  endif
                                              -%}
                                              {%- if banner_image_left != blank -%}
                                                  <div class="block-banner col-sm-{{ col_banner_left }}">
                                                    <div class="hover-zoom">
                                                      <img loading="lazy" class="menu-thumb-icon" src="{{ banner_image_left | image_url }}" alt="{{ banner_image_left.alt }}" width="{{ banner_image_left.width }}" height="{{ banner_image_left.height }}"/>
                                                    </div>
                                                  </div>
                                              {%- endif -%}
                                              {%- if banner_image_left != blank or banner_image_right != blank -%}
                                                  <div class=" col-sm-{{ col_menu }}">
                                                      <div class="row"> 
                                                          {%- render 'menu-splits', count_menu_item: splits_main -%}
                                                          {%- assign splits_main = splits_main | plus : 1 -%}
                                                      </div>
                                                  </div>
                                              {%- else -%}
                                                  {%- render 'menu-splits', count_menu_item: splits_main -%}
                                                  {%- assign splits_main = splits_main | plus : 1 -%}
                                              {%- endif -%}
                                              {%- if banner_image_right != blank -%}
                                                  <div class="block-banner col-sm-{{ col_banner_right }}">
                                                    <div class="hover-zoom">
                                                      <img loading="lazy" class="menu-thumb-icon" src="{{ banner_image_right | image_url }}" alt="{{ banner_image_right.alt }}" width="{{ banner_image_right.width }}" height="{{ banner_image_right.height }}"/>
                                                    </div>
                                                  </div>
                                              {%- endif -%}
                                          </div>
                                      </div>
                                  </li>
                              {%- endif -%}
                          {%- when 'dropdown' -%}
                              {%- if block_st.title != blank -%}
                                  <li class="bls__menu-parent relative level0 parent default_dropdown" {{ block.shopify_attributes }}>
                                      {{ menuLevel0 }}
                                      {%- if linklists[block_st.menu].links.size > 0 -%}
                                          <div class="submenu absolute top-0 left-100">
                                              <ul class="dropdown p-0 list-none">
                                                  {%- render 'menu-dropdown', handle_menu: block_st.menu -%}
                                              </ul>
                                          </div>
                                      {%- endif -%}
                                  </li>
                              {%- endif -%}
                          {%- when 'single_link' -%}
                              <li class="level0 single" {{ block.shopify_attributes }}>{{ menuLevel0 }}</li>
                      {%- endcase -%}
                  {%- endfor -%}
                  <li class="expand-menu-link level0 d-none-mb">
                      <a href="#" class="level-top d-block">{{ 'main_menu.vertical.more' | t }}</a>
                  </li>
              </ul>
          </div>
        </div>
    </div>
    {%- endif- %}
</div>
{%- endif- %}

{% schema %}
{
  "name": "Vertical Menu",
  "tag": "section",
  "class": "bls_vertical_menu",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Show vertical menu",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by category"
    },
    {
      "type": "range",
      "id": "limit_show_item",
      "label": "Limit show item",
      "min": 5,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "limit_item_screen",
      "label": "Limit show item by screen",
      "default": true
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "fading",
          "label": "Fading"
        },
        {
          "value": "down_to_up",
          "label": "Down to up"
        },
        {
          "value": "up_to_down",  
          "label": "Up to down"
        }
      ],
      "label": "Dropdown animation",
      "default": "down_to_up"
    },
    {
      "type": "header",
      "content": "Label"
    },
    {
      "type": "text",
      "id": "label1",
      "label": "Hot label",
      "default": "Hot"
    },
    {
      "type": "color",
      "id": "label_color_1",
      "label": "Label background color 1"
    },
    {
      "type": "text",
      "id": "label2",
      "label": " New label",
      "default": "New"
    },
    {
      "type": "color",
      "id": "label_color_2",
      "label": "Label background color 2"
    },
    {
      "type": "text",
      "id": "label3",
      "label": "Sale label",
      "default": "Sale"
    },
    {
      "type": "color",
      "id": "label_color_3",
      "label": "Label background color 3"
    }
  ],
  "blocks": [
    {
      "type": "menu_item",
      "name": "Menu Item (Parent)",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Mega Menu"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        },
        {
          "type": "select",
          "id": "label",
          "options": [
            {
              "value": "",
              "label": "Select"
            },
            {
              "value": "label1",
              "label": "Label 1"
            },
            {
              "value": "label2",
              "label": "Label 2"
            },
            {
              "value": "label3",
              "label": "Label 3"
            }
          ],
          "label": "Select label"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon image",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "range",
          "id": "icon_width_image",
          "label": "Icon image width",
          "min": 10,
          "max": 50,
          "step": 5,
          "unit": "px",
          "default": 20
        },
        {
          "type": "text",
          "id": "icon_font",
          "label": "Icon font class",
          "info": "Please follow this link to get the icon font class"
        },
        
        {
          "type": "header",
          "content": "Sub Menu"
        },
        {
          "type": "range",
          "id": "custom_width",
          "label": "Submenu width",
          "min": 200,
          "max": 1200,
          "step": 50,
          "unit": "px",
          "default": 1200
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "select",
          "id": "background_repeat",
          "options": [
            {
              "value": "repeat",
              "label": "Repeat"
            },
            {
              "value": "no-repeat",
              "label": "No Repeat"
            },
            {
              "value": "repeat-x",
              "label": "Repeat X"
            },
            {
              "value": "repeat-y",
              "label": "Repeat Y"
            }
          ],
          "label": "Background Repeat",
          "default": "repeat"
        },
        {
          "type": "select",
          "id": "background_position",
          "options": [
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "center left",
              "label": "Center Left"
            },
            {
              "value": "center right",
              "label": "Center Right"
            },
            {
              "value": "top center",
              "label": "Top Center"
            },
            {
              "value": "top right",
              "label": "Top Right"
            },
            {
              "value": "bottom left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom center",
              "label": "Bottom Center"
            },
            {
              "value": "bottom right",
              "label": "Bottom Right"
            }
          ],
          "label": "Background Position",
          "default": "center"
        },
        {
          "type": "select",
          "id": "background_size",
          "options": [
            {
              "value": "auto",
              "label": "Keep original"
            },
            {
              "value": "100% auto",
              "label": "Stretch to width"
            },
            {
              "value": "auto 100%",
              "label": "Stretch to height"
            },
            {
              "value": "cover",
              "label": "Cover"
            },
            {
              "value": "contain",
              "label": "Contain"
            }
          ],
          "label": "Background Size"
        },
        {
          "type": "header",
          "content": "Banner Left"
        },
        {
          "type": "image_picker",
          "id": "banner_image_left",
          "label": "Banner Image",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "select",
          "id": "col_banner_left",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
        },
        {
          "type": "header",
          "content": "Banner Right"
        },
        {
          "type": "image_picker",
          "id": "banner_image_right",
          "label": "Banner Image",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "select",
          "id": "col_banner_right",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
        }
      ]
    },
    {
      "type": "link",
      "name": "Link List (child)",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Add Menu"
        },
        {
          "type": "select",
          "id": "col",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
        }
      ]
    },
    {
      "type": "banner",
      "name": "Banner (child)",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image item"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Banner link"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        },
        {
          "type": "select",
          "id": "col",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
        }
      ]
    },
    {
      "type": "dropdown",
      "name": "Dropdown Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Dropdown"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select Menu",
          "default": "main-menu"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        },
        {
          "type": "select",
          "id": "label",
          "options": [
            {
              "value": "",
              "label": "Select"
            },
            {
              "value": "label1",
              "label": "Label 1"
            },
            {
              "value": "label2",
              "label": "Label 2"
            },
            {
              "value": "label3",
              "label": "Label 3"
            }
          ],
          "label": "Select label"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon image",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "text",
          "id": "icon_font",
          "label": "Icon font class"
        },
        {
          "type": "range",
          "id": "icon_width_image",
          "label": "Icon image width",
          "min": 20,
          "max": 100,
          "step": 5,
          "unit": "px",
          "default": 50
        }
      ]
    },
    {
      "type": "single_link",
      "name": "Single Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Single"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        },
        {
          "type": "select",
          "id": "label",
          "options": [
            {
              "value": "",
              "label": "Select"
            },
            {
              "value": "label1",
              "label": "Label 1"
            },
            {
              "value": "label2",
              "label": "Label 2"
            },
            {
              "value": "label3",
              "label": "Label 3"
            }
          ],
          "label": "Select label"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon image",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "text",
          "id": "icon_font",
          "label": "Icon font class"
        },
        {
          "type": "range",
          "id": "icon_width_image",
          "label": "Icon image width",
          "min": 20,
          "max": 100,
          "step": 5,
          "unit": "px",
          "default": 50
        }
      ]
    }
  ]
}
{% endschema %}
